[2017-03-13 14:34] rryi commented on #110
@lukehutch
I checked it, now eclipse project is imported w/o error from downloaded and unpacked ZIP archive.
Thanks for fixing so fast.

[2017-03-13 18:34] lukehutch commented on #110
Great, thank you for your report.

[2017-03-13 18:34] #110 closed

[2017-03-27 21:36] lukehutch opened #111 "API cleanup"
The API has become unweildy.

Apologies to anyone landing here, this bug is mostly a set of "note to self" items that will hopefully be implemented in the near future, with a major planned revamp of the API.

TODO:

* Create a new branch of both the code and the wiki
* Must get rid of all methods that take a `Class<?>` reference, and always classload by name, since this will minimize the number of

[2017-04-11 12:39] rmalchow commented on #46
i THINK this might be broken again - i just upgraded from 2.0.10 to 2.0.18,
and it stopped working for me.

i have a spring boot app that scans for velocity templates on the classpath.

[code]

my code is:

[code]

[2017-04-11 20:11] lukehutch commented on #46
@rmalchow thanks for the report. Can you please include the whole verbose log output? (A pastebin link to the log would be great.)

[2017-04-11 20:37] rmalchow commented on #46
hi luke,

the full output is ... er ... pretty long. 90+ MB uncompressed. tgz is ~ 1.5MB:

[out.txt.zip](https://github.com/lukehutch/fast-classpath-scanner/files/914612/out.txt.zip)

hope this helps

.rm

[2017-04-12 02:17] lukehutch commented on #46
@rmalchow Yes, the reason for the logs being so big is that you are matching pattern `.*`, which matches a lot of files within your jarfiles :-)  (and there's the fact that an exception is thrown on every file, too!)

I'm checking in a change now that should fix this. Thank for catching this. Can you please test the git master version? If it works for you, I will push out a release. If it's too mu

[2017-04-12 05:33] rmalchow commented on #46
@lukehutch oops - yeah, i added that when i was trying to figure out what was going on. forgot to remove it. anyway. it seems to be doing what it's supposed to do. not sure about any side effects of course, but ... looking good. thank you tons for the quick response! awesome.

[2017-04-12 06:45] lukehutch commented on #46
@rmalchow You're welcome. Should be fixed for good now, I had missed the case that you were triggering. Released in 2.0.19. Thanks again.

[2017-04-12 06:45] #46 closed

[2017-05-03 18:14] deepueg opened #112 "NPE during class load"
Throws an NPE while trying to use this in one of my android projects.

[code]

Here is the code snippet that I am executing

[code]

[2017-05-03 18:56] lukehutch commented on #112
Hi, can you please call  `.verbose()` before `.scan()`, and attach the log here?

[2017-05-03 19:43] deepueg commented on #112
I am seeing the same logs with verbose as well!.

[2017-05-03 20:01] lukehutch commented on #112
@deepueg I see, I just committed a fix for the NPE, thank for the report. However, FastClasspathScanner is untested with Dalvik, see #24 . I would be curious as to whether this is the only fix that is needed to get FCS working with Android, or if more changes are needed -- please let me know. Thanks!

[2017-05-03 21:14] deepueg commented on #112
Thanks for the quick fix! I will try and let you know!

[2017-05-03 21:54] deepueg commented on #112
[code]

[2017-05-03 22:34] lukehutch commented on #112
This is strange -- `Paths` has been around since Java 1.7, but is it not included in Android? It's very strange that the absence of this class is not caught at build/link time.

The code that throws this exception is:

[code]

Can you please see if you can get a regular Android project to compile and run with this code (i.e. regular Java code in a project that is not linked in from classfiles via

[2017-05-04 09:26] lukehutch commented on #112
@deepueg it looks like `java.nio.*` was incomplete prior to Android O. Can you please try with the Android O developer preview?

[https://developer.android.com/reference/java/nio/file/Paths.html](https://developer.android.com/reference/java/nio/file/Paths.html)

I will also work to make this class optional, by using reflection.

[2017-05-04 09:39] lukehutch commented on #112
Oh, and of course I wasn't thinking about this carefully enough, because even if this problem is solved, the Dalvik classfile format is completely different from the Java classfile format, and the runtime classpath doesn't even really exist in Android, as described in #24. FastClasspathScanner reads the bytecode format directly, so even if the `Paths` problem is solved for Android versions before

[2017-05-04 09:39] #112 closed

[2017-05-04 09:46] lukehutch commented on #24
Other issues in supporting Dalvik were hit in #112, including `ClasspathFinder.findAllClassLoaders()` not being able to find the context classloader via the security manager, and Android versions prior to Android O not supporting `java.nio.file.{Path|Paths|LinkOptions}` (which are only used to get the current directory in `Scanner.call()`).

The root of the current activity is the closest thing to

[2017-05-04 11:40] Alexander-- commented on #24
@lukehutch even if you add Android support, it will most likely require adjusting your approach to classpath scanning.

The gist of FastClasspathScanner is about finding classes in unpredictable, dynamic environments. When an Android application is packaged, all it's classes are bundled together and heavily preprocessed. This means, that 99% of Android apps precisely know their own classes and don

[2017-05-04 17:00] deepueg commented on #112
@lukehutch I will try to spend more time later on this when I get a chance.! thanks for your help!.

[2017-05-04 17:58] lukehutch commented on #24
@Alexander-- yes, exactly. These are all the reasons that porting FCS to Android will be complex and probably not entirely worthwhile. However, it would be nice if you could run software that uses FCS on Android directly, ie. even though there's no such thing as a dynamic runtime classpath on Android, it may still be handy for software to be able to pretend that there is one.

Alternatively, maybe

[2017-05-04 18:15] drogatkin commented on #24
I already provided a work around I use now.I prescan class path before
converting in Dalvik and store result in a properties like file added in
classpath as well. During runtime I am looking for prescaned results.

On 4 May 2017 at 10:58, Luke Hutchison <notifications@github.com> wrote:

--
Buy *American*, Hire *American*

[2017-05-11 13:25] weisebrazil opened #115 "Constructor match processor"
Create a new annotation match processor based using constructors. "ConstructorAnnotationMatchProcessor"

[2017-05-11 18:04] lukehutch commented on #115
@weisebrazil Interesting suggestion, but what exactly do you want to match in a constructor? The method signature? Or simply the presence/absence of a constructor?

[2017-05-14 17:07] denDAY04 opened #116 "getMethodInfo throws IllegalArgumentException despite being enabled"
Despite having clearly enabled method staccing with FastClasspathScanner#enableMethodInfo(), it still throws the following exception when I try and extract method information:
`Exception in thread "main" java.lang.IllegalArgumentException: Cannot get method info without calling FastClasspathScanner#enableMethodInfo() before starting the scan`

I'm scanning a jar file that's being loaded into the c

[2017-05-14 20:32] lukehutch commented on #116
@denDAY04 Thanks for reporting this. I was able to duplicate this using your code. Sorry that I didn't test this new feature thoroughly enough before releasing. I just pushed a fix, and your code now works for me with this fix. Please confirm that it also fixes the issue for you. I will push a new version out soon with this change.

[2017-05-14 20:41] lukehutch commented on #116
@denDAY04 Released in 2.0.21. I'm pretty confident that this will fix the problem, so I'll close this bug, but please report back to let me know if this version works for you. Thanks again!

[2017-05-14 20:41] #116 closed

[2017-05-14 22:33] denDAY04 commented on #116
I can confirm that it is working as of 2.0.21, and so does the equivalent scanning of fields (FastClasspathScanner#enableFieldInfo()) which suffered the same problem. Thank you for the quick response. :)

[2017-05-15 04:55] lukehutch commented on #116
You're welcome, thanks for testing!

[2017-05-24 14:42] brettwooldridge opened #117 "Performance degradation between 2.0.10 and 2.0.11"
We recently noticed our application startup time jump from ~4.7s to ~6.0s.  We initially traced the performance degration to our upgrade from v2.0.5 to v2.0.21.  However, a further binary search ... trying v2.0.15, v2.0.10, v.2.0.12, etc. lead us to pinpoint the drop in performance as occurring between v2.0.10 and v2.0.11.

Any idea which change was responsible for the regression?

[2017-05-24 14:45] lukehutch commented on #117
Interesting, thanks for doing the bisection. Can you please attach a log (calling .verbose() before .scan()) for each of 2.0.10 and 2.0.11?

[2017-05-24 16:31] brettwooldridge commented on #117
@lukehutch Here ya go.  Rather large ... ~125MB each ... but zipped down to ~7MB for both.

[verbose-logs.zip](https://github.com/lukehutch/fast-classpath-scanner/files/1026279/verbose-logs.zip)

[2017-05-24 16:49] brettwooldridge commented on #117
@lukehutch While I've got your ear, our application is comprised of roughly 85 jars (255 if you count third-party jars), and we only scan our jars ... any tips on cutting scanning times (even off of the v2.0.10 levels)?

[2017-05-24 17:06] lukehutch commented on #117
@brettwooldridge the line count discrepancy doesn't surprise me -- I went back and looked at the checkins between these two versions, and the main change relevant to your problem is that 2.0.11 finds more `ClassLoaders` -- so it is probably scanning more jars. Will look into it in some detail. (It's a bit surprising that 255 jars take 4-6 seconds, but maybe you have some big jars...)

Just curious

[2017-05-24 17:21] brettwooldridge commented on #117
@lukehutch We have not tried other scanners, we've been very happy with FastClasspathScanner.

To be clear, the scanning does *not* take 4-6 seconds.  Our whole application startup takes 4-6 seconds.  But given that a tremendous amount of stuff is happening during that startup, completely unrelated to scanning, the ~1.5 second jump in startup from v2.0.10 to v2.0.11 was surprising.  I haven't meas

[2017-05-24 17:27] lukehutch commented on #117
@brettwooldridge First thing I noticed: you are scanning a total of *thirteen times* in these log files! Unless you need 13 different sets of scan criteria, you can accomplish all the scanning work in a single pass.

If you look right at the end of each logfile, you will see that scanning took 0.044 seconds with version 2.0.10, and that goes up to 0.214 seconds with version 2.0.11. Multiply that b

[2017-05-24 17:40] lukehutch commented on #117
So the difference between scan times for the two versions does indeed come down to version 2.0.11 finding more jars to scan.
[jars-scanned-by-both.txt](https://github.com/lukehutch/fast-classpath-scanner/files/1026478/jars-scanned-by-both.txt)
[extra-jars-scanned-by-2.0.11.txt](https://github.com/lukehutch/fast-classpath-scanner/files/1026477/extra-jars-scanned-by-2.0.11.txt)
There are some extens

[2017-05-24 17:43] lukehutch opened #118 "System extension jar directory not being recognized on Mac OS X"
As discovered in #117 by @brettwooldridge, system extension jars are not being marked as such on Mac OS X since v2.0.11, leading to unneccessary scanning, e.g.:

[code]

[2017-05-24 18:04] brettwooldridge commented on #117
@lukehutch That "extra-jars-scanned" list is essentially all of the other jars in our application.  Here is the total list:
[jar-list.txt](https://github.com/lukehutch/fast-classpath-scanner/files/1026591/jar-list.txt)

We are using the scanner roughly like this:
[code]
Note that we *do* define the ``zap.annotation.scanner.jar.regex`` System property, and it looks like this: ``zap.annotation.scann

[2017-05-25 10:31] brettwooldridge commented on #117
@lukehutch I've tried to make things more explicit, to reduce scanning, but I'm not having much luck so maybe I'm missing something.

Again, my startup looks like this:
[code]
This basically builds up a scanSpec collection with all of our jars included as ``jar:yada..`` and all third-party jars as ``-jar:yodel..``

Then we scan:
[code]
At first it looks good...

*Whitelisted jars:*
[code]
*Blackli

[2017-05-26 01:46] lukehutch commented on #117
Apologies, I'm on a road trip in Norway for the next few days, will be slow to respond. However, paths are normalized (the raw URLs or paths obtained from each ClassLoader are displayed, but they are normalized before being scanned, and duplicates are removed, so getting the same URLs twice from two different ClassLoaders, with relative and absolute paths, shouldn't matter). (In more recent versio

[2017-05-26 09:48] brettwooldridge commented on #117
@lukehutch Thanks, we've already fixed our code to scan once.  I'm more concerned about the scanner parsing the class info for unnecessary classes from jars outside of the whitelist:
[code]

[2017-05-30 12:24] #118 closed

[2017-05-30 16:53] lukehutch commented on #117
@brettwooldridge OK, I figured out what was going on. This took some thinking through, because the issue that caused the slowdown is very complex: #100. Basically, the issue is that FastClasspathScanner should always follow the principle of minimum surprise. If you have the same class `X` defined in jars `A.jar` and `B.jar`, and the classpath order is `A.jar:B.jar`, and your whitelist contains onl

[2017-05-30 16:59] lukehutch commented on #100
I'm going to have to revert part of this bugfix due to an impact on scanning performance, as described in #117. Classpath masking must be performed after applying jar whitelist/blacklist criteria, not before, otherwise the directory entries for every jar in the classpath must be read (including those of non-whitelisted and blacklisted jars) before classpath masking is applied (which can increase s

[2017-05-30 17:29] lukehutch commented on #117
@brettwooldridge Please test the latest version in git. The code should be back to running full speed, the order of whitelisting has been fixed, and the logging has been improved.

[2017-05-31 04:08] eduardomaino opened #119 "Computer freezes when scanning"
When executing these commands on multiple machines (Windows 10) they freeze every time:

`FastClasspathScanner fastClasspathScanner = new FastClasspathScanner();
    List<String> classNames = fastClasspathScanner.verbose(true).scan().getNamesOfClassesImplementing(baseClassName.getName());`

Looking ate the logs I can see a concurrent.ExecutionException: ArrayIndexOutOfBoundsException: 1575 -> Fast

[2017-05-31 05:37] lukehutch commented on #119
@eduardomaino that's super weird, no Java code should be able to cause a hard lockup, so it looks like a bug in FCS is somehow triggering a JVM bug.

By `FastClasspathScanner.scan` do you mean `FastClasspathScanner.java` with those line numbers? (If so, at least They don't all correspond to source code line numbers in `FastClasspathScanner.java` in git master, what version are you running?)

Can y

[2017-05-31 15:44] jjYBdx4IL opened #120 "cannot get package annotations when scanning for them"
The scanner returns the annotated *.package-info 'class', but classRef.getAnnotations() returns an empty array.

Any ideas?

[2017-05-31 16:09] lukehutch commented on #119
Can you also try scanning with one thread? (One of the scan methods has this option.)

Also, you should consider submitting a snapshot of a complete minimal testcase to Microsoft -- a kernel deadlock or lockup, triggered by user code, is not a good thing! (Unless the code uses lots of RAM, and is merely swapping?)

[2017-05-31 16:11] lukehutch commented on #120
Interesting. I just added support for package-info recently, and the support is barebones currently. I'll take a look in the next day or two, as I'm traveling currently.

[2017-05-31 20:02] lukehutch commented on #115
@weisebrasil I'm still curious about what you wanted to match?

[2017-06-01 03:24] jjYBdx4IL commented on #120
ah I probably set the wrong retention policy.

[2017-06-01 03:24] #120 closed

[2017-06-01 11:51] lukehutch commented on #120
@jjYBdx4IL OK, please confirm whether it is working once you have the correct retention policy.

[2017-06-03 06:44] lukehutch commented on #119
@eduardomaino Did you manage to get a backtrace for the `ArrayIndexOutOfBoundsException` by running using a single thread (or over SSH)?

[2017-06-03 06:45] lukehutch commented on #117
@brettwooldridge I will be pushing out a new release in the next couple of days. Please let me know if this issue is fixed for you using the latest git master version. Thank you!

[2017-06-04 11:33] brettwooldridge commented on #117
@lukehutch Thanks a lot, man! 👍  Excellent project!

[2017-06-04 17:16] lukehutch commented on #117
Thanks @brettwooldridge -- although can you please test and let me know if the problem is fixed in git before I push out a release?

[2017-06-05 01:58] tripodsan opened #122 "Support for class usage"
Would it be possible to also get the dependency information to all the classes that are used by a class (e.g.calling their methods or accessing their fields) ?
this would allow to create a complete dependency tree.

[2017-06-05 03:22] lukehutch commented on #122
Good question, you could do it by parsing all the bytecode in a class, but I wonder if the list of dependencies is stored in the classfile by the compiler (I think it is not). There is support for getting all classes with fields of a given type already, which is the inverse of half of your proposal, but doing this for method calls may not be possible without parsing the bytecode. I'm currently tra

[2017-06-05 03:27] brettwooldridge commented on #117
@lukehutch I just tested 2.0.22-SNAPSHOT.  Our startup times are back down into the range they previously were.

[2017-06-05 03:27] #117 closed

[2017-06-05 04:07] tripodsan commented on #122
- find the dependencies of a set of classes to a given set of libraries during build time. For example embedded in a maven plugin, we could detect the `<dependencies/>` that are not used to compile the artifact.
- find the dependencies between different libraries in oder to improve modularization and create a dependency graph.

[2017-06-05 04:46] tripodsan commented on #122
btw, I think the _Analyzer_ of the bnd tools has what I need:
https://github.com/bndtools/bnd/blob/master/biz.aQute.bndlib/src/aQute/bnd/osgi/Clazz.java

the `Clazz.getReferred()` returns all the imports of a class, which are basically all its dependencies.

[2017-06-05 05:09] lukehutch commented on #122
Good find, and yes, that class does seem to do what you need, by passing the bytecode directly. I wasn't able to find any mention of dependencies in the Java spec, so this must be the only way to do it:

http://docs.oracle.com/javase/specs/jvms/se7/html/jvms-4.html

BTW the Analyzer class you linked does not seem to always call crawl() for reasons that I didn't look into closely, so you might want

[2017-06-05 05:11] lukehutch commented on #122
One other thing -- for the case of Maven specifically I believe Maven publishes a modified pom file within a published jar -- that may contain the dependencies you need.

[2017-06-05 05:31] lukehutch commented on #117
@brettwooldridge great, thanks for testing. To be doubly emphatic about it, be aware that if you use jar whitelisting/blacklisting or classpath overriding, you may end up with jars scanned in a different order than the system classloader opens them to load classes, so you will get unpredictable results if a class is defined more than once in the classpath. (This situation occurs more often than yo

[2017-06-07 07:46] DavyDeDurpel commented on #37
I'm a bit confused.  I see that there is already jboss-vfs support in the latest version of this library but it seems to be only searching for classes in the ejb jar containing the scanner logic.  Is this correct?  I would expect the scanner to look for classes inside all the jars defined in the root of the ear.
Is that something that you still plan to do?

In the mean time I will create a custom

[2017-06-07 08:23] DavyDeDurpel commented on #37
It seems the order in which you load the handlers is not 'hacker' friendly ;-)
It's for instance currently not possible to provide a custom JBossClassLoaderHandler as it always picks the one included in the library.

Wouldn't it be a better default to put the manually added ClassLoaderHandlers as first in the list?

[2017-06-07 12:01] lukehutch commented on #37
@DavyDeDurpel good point on the loading order, I should fix that. I am currently traveling, so for now, are you able to simply hack on the existing ClassLoaderHandler? It would be better to fix the existing code anyway.

Correct, the current JBoss VFS support right now is minimal and hacky. It would be great if you could please fix that. I don't know almost anything about JBoss, so would appreciat

[2017-06-07 21:19] lukehutch commented on #37
@DavyDeDurpel I just pushed a change that calls the user-provided `ClassLoaderHandlers` before the defaults.

[2017-06-08 06:11] DavyDeDurpel commented on #37
I tested your fix and it works.  I was also able to get my version working.  It now scans all jars inside the ear.
But my change is absolutely not production ready because:
- I only tested it on JBoss EAP 6.4
- I made the assumption that the scanner logic is executed from a jar in the root of the ear
- I'm not sure if there are any side effects

I think I already found a nicer solution (at least f

[2017-06-08 06:44] lukehutch commented on #37
It might be worth it to just add your code to the existing code, to catch a few more cases -- JBoss is complex, I'm sure we're not done yet, and the kitchen sink approach may not be a bad thing.

PS you don't have to use ReflectionUtils, it's just there to simplify life. Our you can add a method to it if you want.

[2017-06-08 17:31] lukehutch commented on #119
@eduardomaino The most recent checkin probably fixes the `ArrayIndexOutOfBoundsException` you were encountering (see #121), however I would still like to get to the bottom of the freezing issue on Windows. I don't have a Windows machine to run on, however. Did you make any progress in figuring out why this was freezing? Or were you able to create a minimal testcase that could be submitted to Micro

[2017-06-09 05:02] DavyDeDurpel commented on #37
I finally didn't have to change ReflectionUtils.  My new solution seems already a lot better than the old one.  The old one just scanned the directory of the ear for jar files.
The new solution uses the ServiceModuleLoader to find all child modules.  This system should be more secure as the scanner won't be seeing bundles for which it doesn't have access rights.

This weekend I will create a test

[2017-06-09 09:03] lukehutch commented on #37
Awesome, thanks so much for your work on this!

[2017-06-13 04:38] DavyDeDurpel commented on #37
The code isn't working (yet) for class files inside the WAR and (EJB) jars inside the WAR :-(
It will be a hard nut to crack this one...

[2017-06-13 06:10] lukehutch commented on #37
FCS has the ability to decompress jars inside jars, as long as the URLs have the `!` separator in them. Is the issue finding where the classpath of the inner jars is specified, or something?

[2017-06-13 19:41] DavyDeDurpel commented on #37
I think I found out why it won't work on JBoss without having to rewrite ClasspathFinder.
In JBoss all J2EE modules have their own class loader.  So each (EJB) jar has a class loader, the WAR has it's own classloader and also the EAR.  The problem with ClasspathFinder is that it only takes the class loader of the jar in which the scanner logic is contained.  If the jar is located inside the EAR, t

[2017-06-13 19:45] lukehutch commented on #117
The fix was released in 2.0.22. Thanks!

[2017-06-13 19:51] lukehutch commented on #37
This makes sense, I think. However, as long as you can find all the JBoss classloaders given a reference to just the current context classloader, FCS doesn't need to know about the other ones -- you can do all the rest with reflection, as you indicate. You can just recursively fetch each classloader, then get its sub-classloaders, and get the URLs from each as you recurse down the jar tree. I don'

[2017-06-13 20:06] DavyDeDurpel commented on #37
The ClassLoaderHandler only calls classpathFinder.addClasspathElement(path, log) to add class paths from inside the jars, WAR, EAR...  A Handler is not able to add the necessary ClassLoader to load the classes in these paths.
But after the ClassLoaderHandlers have been processed, somewhere (I can't remember the exact location and I already closed my Eclipse) a Class.forName(...) is done to load th

[2017-06-14 01:39] lukehutch commented on #37
@DavyDeDurpel I just pushed a change that allows ClassLoaders to be specified when classpath elements are added. This breaks the ABI for `ClasspathFinder#addClasspathElement()`, but you're right that this is needed. Hopefully this does what you need; please let me know.

[2017-06-14 07:19] vojtechhabarta opened #124 "Using fast-classpath-scanner in Maven plugin"
I am developing Maven plugin ([typescript-generator](https://github.com/vojtechhabarta/typescript-generator)) which is processing classes using reflection and I am using fast-classpath-scanner to get list of class names. It works well but now there is some issue when multi-module Maven project is built in parallel (reported here https://github.com/vojtechhabarta/typescript-generator/issues/142). I

[2017-06-14 08:31] lukehutch commented on #124
@vojtechhabarta Oh man, this issue keeps coming up in all sorts of strange forms, and it's very hard to fix in a universal way...

I just checked in a fix for another problem earlier today (#37) -- the change is in git master, but not yet released. Can you please try the git master version to see if it fixes the problem?

If it doesn't fix the problem, I would appreciate it if you could please tes

[2017-06-14 08:40] lukehutch commented on #124
PS on your other questions -- hopefully the latest commit will make it so that `FastClasspathScanner.overrideClassLoaders()` is not needed. It's actually more dicey than I had anticipated to override the classloaders, because it is possible to easily end up in a situation where you load classes more than once into different classloaders, or the loaded class is not the same as the scanned class (wh

[2017-06-14 08:44] lukehutch commented on #124
@vojtechhabarta I just noticed from the bug report you linked that you are calling `Class.loadClass()` yourself -- this is not the recommended way to do this. FastClasspathScanner keeps track of which ClassLoader should be used to load a class, and (as of the most recent commit) does so on a per-class basis. The code you want to call is `List<Class<?>> ScanResult#classNamesToClassRefs(List<String>

[2017-06-14 09:06] lukehutch commented on #124
I also just added `ScanResult#classNameToClassRef(className)`, which may be called for loading individual classes the optimal way.

[2017-06-15 20:58] vojtechhabarta commented on #124
@lukehutch thanks for your prompt response. I did some experiments on our multi-module maven project but I wasn't successful to reproduce the problem.

@sayresVT it would be helpful if you could try different fast-classpath-scanner versions (as @lukehutch suggested) but this would require using custom typescript-generator build and I understand this is not easy thing to do on your CI server.

@luk

[2017-06-16 01:58] lukehutch commented on #37
@DavyDeDurpel I released the patch (and the ABI change) in v2.2.0. Please let me know if this is sufficient for what you need.

[2017-06-16 04:41] DavyDeDurpel commented on #37
I tested out the ABI change and it solves the ClassNotFoundException.
We're not there yet as for 2 of my test classes I do not get the callback.  I will try to find out this weekend (or beginning next week as I have a busy weekend) where and why it goes wrong.

What I already know for sure is that the annotations on these classes are well detected so the JBossClassLoaderHandler does it's job.

[2017-06-16 04:44] lukehutch commented on #37
@DavyDeDurpel great, thanks for testing. Calling `.verbose()` before `.scan()` may help you with debugging that last issue. I improved verbose logging a bit in a recent release.

[2017-06-16 10:49] vojtechhabarta commented on #124
I just noticed that 2.0.22 and 2.2.0 releases are not in maven central repository. Do you plan to publish them?

[2017-06-16 15:05] lukehutch commented on #124
Oh, a recent user-submitted change to the Maven setup must have broken the Maven release plug in (it has happened before -- it's quite brittle). I'll see what I can do to fix that, although I don't have a lot of Maven expertise!

[2017-06-16 17:06] lukehutch commented on #124
@vojtechhabarta version 2.2.1 was released with the Maven fix, it should be in Maven Central soon (and is already in Sonatype). Please try this release instead of 2.0.22 or 2.2.0. Thanks!

[2017-06-16 21:26] vojtechhabarta commented on #124
Thanks for quick fix. You are really fast - not only your classpath scanner :wink:.
Thanks also for good explanation of class loading. I agree with it but I thing we are still talking about different things.

First of all _I had to create class loader_.
I only have bunch of jars and directories which are not accessible through any class loader. So I create one and here I think starts the discussio

[2017-06-17 19:51] lukehutch commented on #124
@vojtechhabarta You're right, parent classloaders should not be added to the list to scan, I thought I had removed the code that automatically added parent classloaders long ago (parent classloaders are already called automatically as needed). I just checked in a fix for this. You should now only see one classloader in each case.

I don't recommend calling `.overrideClasspath()`, because the class

[2017-06-17 20:07] lukehutch commented on #124
I just thought through the previous change, and actually, I need to revert it -- there was a reason I iterate through all the parent classloaders: sometimes people need to scan the classpath elements provided by parent classloaders, such as the system jars. Classpath elements or their contents are skipped if they don't meet whitelist criteria.

You should see higher up in the log that only one cla

[2017-06-27 01:35] lukehutch commented on #124
@vojtechhabarta I'm going to close this, since I think the issue is solved; please open another bug if you still see issues.

[2017-06-27 01:35] #124 closed

[2017-06-27 01:38] lukehutch commented on #119
@eduardomaino I'm going to close this, since I haven't heard back, and the exception issue should be solved now. However, I'm still interested in what triggers the hard lockup. If you can reliably produce the issue with a minimal testcase, using the same version you were on (2.0.21?) please comment here with a link to the minimal testcase, and I'll reopen the bug. Thanks.

[2017-06-27 01:38] #119 closed

[2017-06-27 01:39] lukehutch commented on #37
@DavyDeDurpel feel free to post logs here, if you need help debugging the last issue. I'm going to push out a new release soon, and would love to include your `ClassLoaderHandler` fixes.

[2017-06-27 08:50] DavyDeDurpel commented on #37
Sorry, I've been busy renewing the pavement at home so I haven't had the time yet to investigate the issue(s).  I already tried debugging your code but it's not easy to do it.

This is one of the errors:

FastClasspathScanner	---- Class be.war.test.TestWarClass is at incorrect relative path WEB-INF/classes/be/war/test/TestWarClass.class -- ignoring

So it seems that somewhere a 'WEB-INF/classes' i

[2017-06-27 08:56] lukehutch commented on #37
@DavyDeDurpel that's actually very interesting -- it could imply that there is a custom classloader that expects classes at a fixed path prefix of `WEB-INF/classes`, for example. When you have time (no rush, take care of your paving first), could you please attach a minimal repro case to this bug report?

[2017-06-27 09:35] DavyDeDurpel commented on #37
I found the cause by writing this reply!  I noticed that I had put the annotations on the 2 undetected classes on the constructor of these classes.  Apparently the scanner does not do a callback for annotations on the constructor.  Is that normal behavior or might it be a bug? (I'm wondering if anyone would even put annotations on a constructor?) Anyway I moved the annotations to normal methods an

[2017-06-27 09:37] DavyDeDurpel commented on #37
I have also added the sources in the ear.  So you have my version of JBossClassLoaderHandler.java
It's located in **test-scanner-ear/test-ejb-ear**

[2017-06-27 15:03] DavyDeDurpel commented on #37
I finished testing my example ear on these 5 variants:

JBoss EAP 6.4.Final (JDK 8)
Jboss 7.1.Final (JDK 7)
Wildfly 8.2.1.Final (JDK 8)
Wildfly 9.0.2.Final (JDK 8)
Wildfly 10.1.0.Final (JDK 8)

All of them produce the same result so I think the changes to JBossClassLoaderHandler can be merged.  Do you want me to make a pull request or are you going to do the merge yourself?

[2017-06-27 19:23] lukehutch commented on #37
@DavyDeDurpel Thanks for testing! Please send a PR over. Really appreciate your work on this.

I'm looking at the constructor annotation issue now. It's possible annotations are not retained the same way for constructors or something.

[2017-06-28 01:06] lukehutch commented on #37
I guess the right thing to do is modify the FCS API to return `Executable`, which is the supertype of `Method` and `Constructor`...

[2017-06-28 01:26] #37 closed

[2017-06-28 01:30] lukehutch commented on #37
@DavyDeDurpel This should be fixed in 2.4.0 (just released). I also pulled in your code changes, so there's no need to send me a PR. Thanks for all your work on this!

[2017-06-28 16:37] lukecapizano commented on #37
I know you have probably already made a decision, but this sounds like a good case for a `ConstructorAnnotationMatchProcessor`.  I haven't looked at your code much, so I don't know what your proposed solution entails, but since a `Construtor` is not a `Method`, it makes sense that the `MethodAnnotationMatchProcessor` wouldn't match on constructors.

[2017-06-28 16:50] lukehutch commented on #37
@lukecapizano `Constructor` and `Method` share a superclass, `Executable`, so I opted to change `MethodAnnotationMatchProcessor` to take a parameter of type `Executable`, and bumped the API version number. I don't think it is common knowledge that constructors are treated entirely differently than regular methods by the reflection API (at least I never knew that before!). Is it reasonable to handl

[2017-06-28 16:58] lukehutch commented on #37
Sorry, I just realized my comment contradicts what you wrote -- I guess the question comes down to (1) convenience and (2) common expectation -- would people be more or less inconvenienced or surprised by having two different MatchProcessor types? I think having only one is cleaner, and more in line with common expectations of common treatment of methods and constructors (at least both @DaveDeDurp

[2017-06-28 17:19] lukecapizano commented on #37
My _personal_ expectation was that it would not match on constructors, but maybe that is because I have some experience with reflection and already knew about the difference between `Method` and `Constructor`. I didn't know that they share a superclass, though!

Even still, I agree with you (and by extension @DavyDeDurpel). Having the `MethodAnnotationMatchProcessor` being able to detect annotatio

[2017-06-28 17:28] lukehutch commented on #37
@lukecapizano no, it was a good suggestion, and I did in fact have to break the API to raise the parameter type from `Method` to `Executable`, hence the version bump to 2.4.x, although this API change shouldn't affect too many users. Having to test the subtype of `Executable` and cast the result is not ideal, but I think there was no ideal option here.

[2017-06-28 17:34] DavyDeDurpel commented on #37
@lukecapizano might have a good point.  It's true that now the name of the method call (.matchClassesWithMethodAnnotation(...) and the callback (MethodAnnotationMatchProcessor) both still refer to 'method' while now it's also used for 'constructor' matching.

I think we need to look at it from the perspective from a typical user.  This library will probably only be used by experienced users.  Most

[2017-06-28 17:50] lukehutch commented on #37
@DavyDeDurpel I went through the same thoughts in my head about the naming! I have to believe though that a larger percentage of users will be surprised that a constructor is "not a method" (not just "is a special type of method") than would be surprised that constructors are not treated differently. `Executable` is extremely obscure (I didn't know about it either until I looked up the supertype o

[2017-06-28 18:07] DavyDeDurpel commented on #37
Any which solution is fine for me.  I'm already very happy that it just works :-)

You could even put everything together and by so reduce the number of methods on FastClassPathScanner ;-)

fastClassPathScanner.matchWithAnnotation(MyAnnotation.class, new AnnotationMatchProcessor() {
@Override
public void processClassMatch(Class<?> matchingClass) { }

@Override
public void processMethodMatch(Method

[2017-06-28 18:14] lukehutch commented on #37
I am looking at ways to dramatically simplify the API in the next major version, yes. But I do want to try to have only one method per interface, so that lambdas can be used.

[2017-06-29 06:22] lukehutch commented on #37
Davy -- I'm still interested in this warning message you saw in the logs:

FastClasspathScanner ---- Class be.war.test.TestWarClass is at incorrect
relative path WEB-INF/classes/be/war/test/TestWarClass.class -- ignoring

Is this still present in the latest version of FCS, with your
ClassLoaderHandler? Or did your latest changes fix this? (What this says is
that the classpath element WEB-INF/class

[2017-06-29 15:10] DavyDeDurpel commented on #37
The error is still there but there's no impact.
This class is still detected and annotations on it are found.

Below the error the following is logged:

---- Found class be.war.test.TestWarClass
------- Superclass: java.lang.Object
------- Method annotations: java.lang.Deprecated

[2017-06-29 19:56] lukehutch commented on #37
@DavyDeDurpel I see. That means the classloader provides both the root of the classpath element and `WEB-INF/classes` as classpath elements.

This brings up an important point though -- the entire class hierarchy is scanned twice in this case (once at the correct root, and once from two directories above that). Probably I should stop recursively scanning one classpath element at any point where th

[2017-06-29 19:59] lukehutch opened #127 "Stop recursively scanning one classpath element when the root of another classpath element is encountered"
If a classloader returns two classpath elements where one is a prefix of the other, e.g. `/path/to/lib.jar` and `/path/to/lib.jar!/WEB-INF/classes`, recursive scanning of the ancestral path should stop when it reaches the descendant path, otherwise scanning is duplicated, and for one of the duplicates, classfiles are at the wrong location relative to the classpath element root. (Reported by @DavyD

[2017-06-30 11:02] lukehutch commented on #127
@DavyDeDurpel any chance you could please test the latest master version to see if this fixes those log messages you were seeing about classes not being properly located relative to the classpath root? (The classes should only be scanned once now, from the innermost classpath element.)

[2017-06-30 19:46] DavyDeDurpel commented on #127
Works like a charm.  It seems a lot faster also.  Difficult to say though as I never really timed it but
you might need to rename it to **faster-classpath-scanner** :-)

[2017-06-30 20:20] lukehutch commented on #127
@DavyDeDurpel :-) Thanks for testing. For jars where both the root of the jar and a subdirectory like `WEB-INF/classes` are both on the classpath, classpath scanning will be up to twice as fast. (I don't know how common this situation is, but that's a big win! Thanks for pointing this out.)

[2017-06-30 20:29] #127 closed

[2017-07-10 09:00] bkrahmer opened #128 "Support http/https entries on classpath"
Thanks for sharing this great piece of software!  It's a great utility.  I'm having an issue, though.  I want to dynamically add new jars to a process while it is running.  To do this, I'm getting an instance of the URLClassLoader and calling addURL through reflection, and also updating the java.class.path system property.  If I use Class.forName, I can then get an instance of one of the classes,

[2017-07-12 09:21] vojtechhabarta commented on #124
@lukehutch it seems that issue https://github.com/vojtechhabarta/typescript-generator/issues/142 is resolved.
Thanks for all your support.

[2017-07-12 13:36] bkrahmer commented on #128
Maybe I will just go a different route on this.  I felt like adding jars to the classpath would be the easiest approach, but strictly speaking for my use case, I don't need the classes.

[2017-07-13 04:37] lukehutch commented on #128
@bkrahmer Sorry for the delay, I have been in the process of moving to another apartment.

FastClasspathScanner doesn't do any sort of caching in static fields. However, many ClassLoaders do their own caching, including the JVM system classloader. That doesn't seem to fully explain the problem you're seeing though, because you're seeing instances of classes not being found at all -- which is stran

[2017-07-13 05:51] lukehutch commented on #111
FCS should only scan the bare minimum for what is actually going to be used in the `ScanResult`. However, having to configure FCS before scanning, such that the required features are enabled and nothing more, would be a pain. Lazy configuration would be much better. Consequently, split up `ScanResult` into a separate result for each scan type. Maybe something like:

[code]

`ForClasses`, `ForFiles

[2017-07-13 06:38] lukehutch commented on #124
@vojtechhabarta Thanks for closing the loop. I'm glad it's working for you now!

[2017-07-13 08:29] bkrahmer commented on #128
Hi Luke.  Thanks the reply.  It's great to see your interest in my issue.  I know the dangers of creating my own classLoader, so I was trying to avoid that.  I'll append my unit tests here which I think clearly illustrate the issue.  I had missed overrideClasspath, but now that I've added it, it had no effect.  Looking forward to your analysis.

thanks,
brian

`@Test
    public void testGetService

[2017-07-13 10:03] lukehutch commented on #128
@bkrahmer nice to know my code is being used by Sixt -- I rented one of your cars recently in Norway :-)

FCS doesn't currently support non-local classpath elements. I was wondering if I'd ever run into cases where users need to include jars over http(s), but you're the first one that has reported this so far. Technically the spec allows it, but due to efficiency considerations, I have never seen

[2017-07-13 10:06] lukehutch commented on #128
PS please also let me know if you really do need to access classpath elements over https, maybe I need to add that capability. It's not ideal though, since it will cause the jar to have to be fetched more than once -- once by FCS, once by the classloader if/when the classes are loaded.

[2017-07-13 13:10] bkrahmer commented on #128
I changed my code to download the jar, and added that to the classpath.  It works!  Thanks for the help!
brian

[2017-07-13 17:26] lukehutch commented on #128
Great, I'm glad it works now! I should probably throw an exception if http(s) elements are discovered on the classpath, rather than failing silently. Or maybe I should just allow this, with the performance caveat. I'll reopen this as a reminder to fix this.

[2017-07-18 17:00] jaredjstewart commented on #74
I'm running into what looks like a very similar issue.  I have a `Function` interface and an abstract `FunctionAdapter` implementation:
[code]

[code]

I also have a jar file that I expect to contain some `Function`s.  The following code works as expected when the functions directly implement `Function`, but fails to find them when the functions extend `FunctionAdapter`. I'm overriding the classlo

[2017-07-19 20:25] lukehutch commented on #74
@jaredjstewart You're not doing anything wrong, this should work -- I just added a basic test for your usecase, see the commit in the history above. This does not trigger the problem, however (although there are several differences between the unit test and your code, though they should be inconsequential). Can you please play with this unit test to try to get it to exhibit the problem you are exp

[2017-07-23 22:34] lukehutch opened #130 "Websphere ClassLoader support is incomplete"
As [reported by Mahesh Boggala](https://groups.google.com/forum/#!topic/fastclasspathscanner-users/GppYcPjkclk) on the mailing list, FCS is not able to handle some of the WebSphere ClassLoaders:

[code]

The following also appears in the log as not handled -- I assume this is the ClassLoader of the launch environment?:

[code]

@RaimondKempees, you helped with the Websphere Liberty ClassLoaderHand

[2017-07-23 23:00] lukehutch opened #131 "Support different ClassLoader parent delegation modes"
WebSphere (and probably other runtime environments) supports different types of ClassLoader delegation modes, e.g.:

[code]

Currently, we default to PARENT_FIRST for all ClassLoaders. Instead, ClassLoaderHandlers should have a method added that defaults to PARENT_FIRST, but allows a different value to be given as an override. (What other modes does WebSphere support?)

Then ClasspathFinder should

[2017-08-10 10:17] lukehutch commented on #36
See [https://docs.oracle.com/javase/9/migrate/toc.htm](https://docs.oracle.com/javase/9/migrate/toc.htm)

In particular, `rt.jar` no longer exists; neither does the `ext` dir; and in general, "jarfiles don't exist" in a compiled project (not sure what that means yet).

[2017-08-10 11:08] lukehutch commented on #36
May need to provide support for [ModuleFinders](http://download.java.net/java/jdk9/docs/api/java/lang/module/ModuleFinder.html), not just ClassLoaders?

[2017-08-10 11:16] lukehutch commented on #36
The universe of *observable modules* can be visualized with [java9-jigsaw-depviz](https://github.com/accso/java9-jigsaw-depvis). It looks like the code [here](https://github.com/accso/java9-jigsaw-depvis/blob/master/depvis/src/depvis/depvis/JigsawDepPrinter.java) is what is needed, e.g. `ModuleFinder.ofSystem().findAll()`. Will need to check if modRef has a URL field.

[2017-08-10 11:42] lukehutch commented on #36
It may make sense to make Java 8 a minimum requirement when supporting Java 9 -- if so, the Java 9 changes should be made after the major API rework, so that the API rework is still available to Java 7 users in an older branch.

[2017-09-03 09:47] RaimondKempees commented on #130
@lukehutch I'll have a look.

[2017-09-03 11:04] lukehutch commented on #130
@RaimondKempees thanks. After this bug report was opened, support for `com.ibm.ws.classloader.CompoundClassLoader` was added by @sbespalov in 2.4.5.

The other three named ClassLoaders probably also should be supported at some point, but it is possible the `CompoundClassLoader` is the only one needed for user-provided classes, so we have a partial fix in place.

[2017-09-03 11:09] RaimondKempees commented on #130
@lukehutch, Mahesh is using Websphere Traditional, which has a whole different class loading setup and classes. @sbespalov already fixed that, so it's a matter of releasing 2.4.6. I did add support for both the ProtectionClassloader and the ExtClassLoader here: https://github.com/lukehutch/fast-classpath-scanner/pull/134

[2017-09-03 11:11] RaimondKempees commented on #130
Agreed!

On Sun, Sep 3, 2017 at 1:05 PM, Luke Hutchison <notifications@github.com>
wrote:

[2017-09-03 11:43] lukehutch commented on #130
Should be fixed now. Thank you, @RaimondKempees.

[2017-09-03 11:43] #130 closed

[2017-09-03 11:45] lukehutch opened #135 "Support http/https entries on classpath"
Abstract `NestedJarHandler` to be able to handle other temporary file types too, and then implement jar downloading for http/https classpath entries.

[2017-09-03 11:53] lukehutch commented on #131
[More info on Parent_first vs. Parent_last](http://www-01.ibm.com/support/docview.wss?uid=swg27023549&aid=1).

[2017-09-09 10:01] lukehutch commented on #131
@RaimondKempees I added support to `ClassLoaderHandler` to support parent delegation mode for Websphere, but I can't find the source for the `ClassLoaders` in question, so I don't know how to read the delegation mode, and I don't know anything about setting up WebSphere. Could I get your assistance to get this working, please? See the latest checkin to master. You just need to override the default

[2017-09-09 10:24] lukehutch commented on #135
Closing dup

[2017-09-09 10:24] #135 closed

[2017-09-09 10:24] lukehutch commented on #128
Note to self: Need to abstract away NestedJarHandler to be able to handle other temporary file types too, and then implement jar downloading for http/https classpath entries.

[2017-09-09 10:27] lukehutch commented on #74
@jaredjstewart Did you manage to modify the test I checked in above to exhibit the problem as a minimal testcase?

[2017-09-09 16:14] jaredjstewart commented on #74
I wasn't able to reproduce it by modifying that test.  I think the fundamental problem is that the class hierarchy leading from the concrete `Function` implementation up to the `Function` interface was not fully visible to the classloader I passed to FCS.

Application class path: `interface Function`, `abstract class FunctionAdapter extends Function`
User jar file: `class ConcreteFunction extends

[2017-09-09 18:58] lukehutch commented on #74
@jaredjstewart Thanks for testing. Yes, that is expected behavior. FCS can scan one reference level away from whitelisted classes or packages, because whitelisted classes can name non-whitelisted classes as superclasses, implemented interfaces or annotations. But it cannot infer anything about the relationship between those non-whitelisted classes and other non-whitelisted classes, since (being no

[2017-09-09 18:58] #74 closed

[2017-09-09 21:30] lukehutch opened #136 "Add FilenameMatchProcessor that does not read file contents"
All the file match processors currently open an input stream. Opening an input stream may not be required by the caller, and can be time consuming.

[2017-09-09 21:37] lukehutch opened #137 "Allow classpath wildcards"
Java 6 added a syntax, `lib/*`, which includes [all jars in a given directory](https://www.ibm.com/developerworks/library/j-5things6/index.html) (but not subdirectories).

[2017-09-09 23:20] #128 closed

[2017-09-10 00:34] #137 closed

[2017-09-20 19:56] febielgiva opened #138 "How to get the superclasses class info after the scan."
My code would be

`                ScanResult scanResult = new FastClasspathScanner(ProcName.class.getPackage().getName()).ignoreFieldVisibility().enableFieldInfo().enableFieldAnnotationIndexing().enableFieldTypeIndexing().ignoreMethodVisibility().enableMethodInfo().enableMethodAnnotationIndexing().ignoreParentClassLoaders().verbose().scan();

                  Map<String, ClassInfo> classNameToCl

[2017-09-20 20:07] lukehutch commented on #138
Are the superclasses in the same package as `ProcName`, or one of its subpackages?

[2017-09-20 20:07] lukehutch commented on #138
(if not, then they are "external classes", meaning external to the whitelist, so those superclasses are known by name only, they are not scanned)

[2017-09-20 20:17] febielgiva commented on #138
its present in the classNameToClassInfo map but with null value in List<FieldInfo> field

[2017-09-20 20:20] febielgiva commented on #138
Thanks for the quick response. I think its because of the abstract class.  okay Let me draft my question like this . Does the abstract class when scanned will give the fieldInfo and MethodInfo?

[2017-09-20 20:39] lukehutch commented on #138
@febielgiva Abstract classes should not be treated differently. Please see the test I just checked in. Can you please try to modify this test to trigger the behavior you are seeing?

[2017-09-20 20:40] lukehutch commented on #138
(The test passes for me.)

[2017-09-20 21:06] febielgiva commented on #138
okay thank you . i will look into my code again . I might have missed something. Thank you for your time

[2017-09-20 21:54] lukehutch commented on #138
@febielgiva Almost certainly what is happening is that there is a superclass of `Account` that is not in the whitelisted package `ProcName.class.getPackage().getName()` or a sub-package.

[2017-09-21 13:05] febielgiva commented on #138
ya that is the issue . Thanks for the time . Your lib is very useful . Keep up the good work :)

[2017-09-21 13:05] #138 closed

[2017-09-21 13:21] febielgiva commented on #138
@lukehutch  is there any functions to get all the package name in a project in your lib ?

[2017-09-21 13:54] febielgiva commented on #138
I got it https://github.com/lukehutch/fast-classpath-scanner/wiki/2.-Constructor this link is usefull . Thank you .

[2017-09-21 15:43] lukehutch commented on #138
@febielgiva glad you figured it out. Thanks for reporting anyway.

As far as listing all package names, what I would probably do is [list all classes](https://github.com/lukehutch/fast-classpath-scanner/wiki/3.8.-Enumerating-all-classes-on-the-classpath), and then extract the package name from each class name, and put the package names into a `Set`.

[2017-09-21 16:46] febielgiva opened #140 "Returns data type name (string) for getTypeStr() in FieldInfo class"
for a object of FieldInfo the getTypeStr() return the field's data type example "Integer/String/int" but I need to check whether the data type is valid or not .

I need to pass the data type's class to the below function
`public static boolean isValidType(Class<?> retType)
	{
		if (retType.isPrimitive() && retType != void.class) return true;
		if (Number.class.isAssignableFrom(retType)) return tru

[2017-09-22 07:43] lukehutch commented on #140
`Field` has methods `getType()` (which is easy to support, I can add that) and `getGenericType()` (which is not easy to support, the subclasses of `Type` do not have public constructors).

However, just adding `getType()` is incomplete. It also can trigger arbitrary class initializer blocks to run, because it requires the ClassLoader to load classes for some types. (This can probably even lead to

[2017-09-22 08:06] lukehutch commented on #140
Oh, it gets worse than that: If the type of the field is say `String[]`, then `field.getType()` returns `Class<String[]>`, which it is not possible to construct. So even `getType()` will be broken some of the time.

What you probably need to do is just load the class whose fields you want to probe, and then use regular reflection to test if the fields have the properties you want. The correct way

[2017-09-22 13:23] febielgiva commented on #140
okay . Got it will try it out. I am working on speed test to compare between reflection and your library for a project in my company. If your lib is efficient  we would migrate to it. So please do consider this as request and implement these in future.  Thank you .

[2017-09-23 06:01] wuetherich opened #141 "Unknown constant pool tag in classfile module-info.class"
Currently the fast-classpath-scanner fails for JPMS modules, as the Java 9 Spec defines two additional constant pool tags for module-info classes (see https://docs.oracle.com/javase/specs/jvms/se9/html/jvms-4.html#jvms-4.4): CONSTANT_Module (19) and CONSTANT_Package (20).

[2017-09-23 07:04] lukehutch commented on #140
@febielgiva based on a great suggestion by @Alexander--, the exact method you were looking for is now supported: `FieldInfo#getType()`. (A similar method exists for methods and annotations on fields or methods.) Can you please test the github master version?

[2017-09-23 08:06] lukehutch commented on #141
@wuetherich Thanks for finding and reporting this, and thanks for the associated PR #142.

The PR is great for now. However, for full JDK9 support (#36), I'm guessing that at least `CONSTANT_Package` will probably have to be parsed, since I'm guessing that allows JDK 9 to break the requirement that classfiles paths match the package name, or something?

[2017-09-23 08:10] lukehutch commented on #141
@wuetherich PS if you know anything about JDK9, I would love your comments on #36. I have yet to dive headlong into that.

[2017-09-23 08:18] lukehutch commented on #131
@RaimondKempees I tried firing up a Hello World program in WebSphere (traditional and Liberty), and was amazed at how complex it was to set up. I gave up after a while, so I never managed to dig into the classloaders to see how to extract the delegation mode. If you can point me to some small WebSphere test project I can fire up easily, or if you have time to look into fetching the delegation mode

[2017-09-23 08:31] lukehutch commented on #140
@febielgiva Added a unit test that seems to indicate this should be working for you too now, so I'll close this. Please still comment if you do test this, to let me know how it goes for you. I'll also release a new version now. Thanks for this report!

[2017-09-23 08:36] RaimondKempees commented on #131
Hi Luke,

Am traveling these few weeks, so will look somewhere in October!

[2017-09-23 08:49] lukehutch commented on #36
For JDK9, may need to read package name from constant pool rather than from file path (#141). (Module can also be stored there.)

[2017-09-23 08:50] lukehutch commented on #141
Published in 2.6.1. Please also see comments/questions above. Thanks!

[2017-09-23 08:50] #141 closed

[2017-09-23 10:00] lukehutch commented on #131
OK, no rush, thank you!

[2017-09-23 10:37] lukehutch commented on #140
PS please also let me know what your benchmark scores were for the two libraries, I'm interested in real-world numbers. Thanks.

[2017-09-24 09:32] lukehutch commented on #136
Released in 2.6.2.

[2017-09-24 09:32] #136 closed

[2017-09-25 11:27] lukehutch commented on #131
[Liberty is now opensourced](https://github.com/OpenLiberty/open-liberty). (I don't know if this also includes Websphere Traditional, but I think not?)

There's a hard-coded parent-first delegation order in [AppClassLoader](https://github.com/OpenLiberty/open-liberty/blob/master/dev/com.ibm.ws.classloading/src/com/ibm/ws/classloading/internal/AppClassLoader.java), but I believe there are other cla

[2017-09-25 11:41] lukehutch opened #143 "Maybe add javax.lang.model API"
From @Alexander--, re, `javax.lang.model`:

Look into supporting this as an alternative API?

[2017-09-26 11:57] chrisr3 opened #144 "Access to typeDescriptor within FieldInfo and MethodInfo"
Can you provide accessor functions for `FieldInfo.typeDescriptor` and `MethodInfo.typeDescriptor` please? I am trying to write simple comparators for both of these classes, and `typeDescriptor` is clearly a key field. I definitely don't need all of the repeated "cooking" of the value that all of the existing accessors would provide.

Failing that, maybe `FieldInfo` and `MethodInfo` could just impl

[2017-09-26 16:13] lukehutch commented on #144
Done -- funny thing though, I added `getTypeDescriptor()` just a few days ago, then I removed it again because I thought, "Nobody will ever need this" :-)

Please test the above checkin... in particular, please let me know if you think I should add the class name to the comparison too. (In `java.lang.reflect` at least, `Field` and `Method` are tied to a specific class, so maybe I should replicate

[2017-09-26 18:55] febielgiva commented on #140
sure I will let know once I tested it . Thank you for implementing those. its would be really useful. Do you have any method similar to invoke() method in reflect  and a method to get just the constructor of a  class? .

Thank you .

[2017-09-26 20:13] lukehutch commented on #140
You can't invoke a method in this way, because the class hasn't even been loaded (assuming other code hasn't already loaded the calss) -- that's the whole point of `ClassInfo`, to store info about the class that is read from the classfile directly, without calling the classloader.

The constructors are called `<init>` in the classfile binary (there is also `<clinit>` for the static class initializ

[2017-09-26 21:02] lukehutch commented on #140
I went ahead and made these changes:

* Constructors are now named `<init>`.
* I added `ClassInfo#getConstructors()` and `ClassInfo#getMethodsAndConstructors()`.
* `ClassInfo#getMethods()` now does not return constructors, to work similarly to `java.lang.reflect`.

[2017-09-26 21:04] #140 closed

[2017-09-26 21:25] lukehutch commented on #140
(PS although I closed this, I'm still interested in benchmarks, whenever you have a chance to report on that -- no rush, and thanks!)

[2017-09-26 21:29] lukehutch commented on #144
I added code to use class name for the `equals()`, `compareTo()` and `hashCode()` methods.

I think this is all fixed and implemented as of the latest commit, so I'll close this, but please let me know if it doesn't do what you need. I'll be pushing out a new version with these changes. Thanks for the report!

[2017-09-26 21:29] #144 closed

[2017-09-26 21:35] lukehutch commented on #140
Released in 2.7.0.

[2017-09-26 21:35] lukehutch commented on #144
Released in 2.7.0.

[2017-10-02 10:15] GedMarc opened #145 "java.io.IOException: Could not read whole file"
Occurs when loading from Wildfly 10 with any inner jar on the VFS (lib)

12:10:07,238 ERROR [stderr] (MSC service thread 1-4) 2017-10-02T12:10:05.543+0200	FastClasspathScanner	-- Exception while opening file jar:file:/C:/java/devstudio/runtimes/jboss-eap/standalone/tmp/vfs/deployment/deployment231e896dadb0dd92/hazelcast-3.8.3.jar-c36cfdefd452a91d/hazelcast-3.8.3.jar!/hazelcast-full-example.xml
12:

[2017-10-02 10:48] lukehutch commented on #145
Hi, thanks for this report. Can you please test the master version, with the latest push? If it still crashes, please can you attach the whole log? (The latest version logs the actual and expected filesize, and fixes an issue with how read() was being called, but I also want to see the log lines about decompressing temporary files.) Thank you!

[2017-10-02 11:00] lukehutch commented on #145
There was definitely a bug in how `read()` was being called. I don't know if it will fix your particular issue, but it would probably impact somebody eventually, so I pushed out version 2.7.1 with the latest change. It may be easier for you to try 2.7.1 rather than have to build your own version from git master. Please let me know if you still see the problem.

[2017-10-04 08:36] lukehutch commented on #145
@GedMarc PS if version 2.7.1 or later doesn't fix this issue, can you please provide a small test project that demonstrates the issue? I tried and failed to get WildFly up and running once before for another issue.

[2017-10-05 02:25] GedMarc commented on #145
Looking good :) Let's close this guy off!

Fantastic Library Luke!

[2017-10-05 02:25] #145 closed

[2017-10-05 03:26] lukehutch commented on #145
@GedMarc Thanks, glad it fixed the problem for you!

[2017-10-06 07:18] lvc opened #146 "API changes report for Fast Classpath Scanner"
Hi,

I'd like to share my results on API changes analysis of the library: https://abi-laboratory.pro/java/tracker/timeline/fast-classpath-scanner/

The report is generated by the https://github.com/lvc/japi-compliance-checker tool for jars found at http://central.maven.org/maven2/io/github/lukehutch/fast-classpath-scanner/ according to https://wiki.eclipse.org/Evolving_Java-based_APIs_2.

Thank yo

[2017-10-06 08:43] lukehutch commented on #146
Thanks, this is useful, but most of the removed methods are not part of the user-facing API. Is there an appropriate way to have only the public API checked for API changes? Should I be using some sort of method annotation to denote which methods should be considered public? (Some classes and methods are public even when the API is not intended for use, because the methods need to be visible outsi

[2017-10-06 08:44] lukehutch commented on #146
Also, @lvc, are you really opening a bug in every single Java and Scala project on GitHub to share these results?

[2017-10-06 09:56] johnou commented on #146
@lukehutch most likely automated (at least to some degree), I have seen similar things like automatically opening pull requests based on squid violations... https://github.com/m-ezzat?tab=overview&from=2016-01-01&to=2016-01-31&utf8=%E2%9C%93 :)

[2017-10-06 14:26] lukehutch commented on #146
@johnou oh, for sure this is automated, and it's shameless promotion, I just want them to respond so I can get them to admit that that's what it is, and so that they address the shortcoming that is in their product (born out of a Java shortcoming) that they assume every public method is part of the public API.

[2017-10-06 16:50] lvc commented on #146
Hi,

There is a way to specify packages that should be checked or skipped by a regexp pattern (like `org\.X\.(Y|Z).*`). Also there is a way to filter annotated classes and methods (like `@PublicAPI`).

No. Only for most important ones. Not automated. And this is not a "product" since it's a free and open-source project.

Opened issues allows to get a review from developers of a library and discuss

[2017-10-06 17:24] lvc commented on #146
Sorry for disturbing you. Please just skip and close the issue if you are not interested.

Thank you.

--
Andrey

[2017-10-06 21:53] lukehutch commented on #36
[A Java 9 migration guide](https://blog.codefx.org/java/java-9-migration-guide/).

[2017-10-06 21:58] lukehutch commented on #146
@lvc that's OK, you're not disturbing me, this is actually a super useful project you have put together. To be honest though, it is just a bit spammy to file bugs in github as a way of announcing your project, since you are neither reporting a bug nor filing a feature request. I recommend for other projects, first trying to find a mailing list for the project and posting there. You still reach the

[2017-10-06 21:58] #146 closed

[2017-10-10 09:12] lukehutch commented on #36
[Info on using Java 9 with maven-compiler-plugin](https://maven.apache.org/plugins/maven-compiler-plugin/examples/module-info.html) (N.B. maven-compiler-plugin needs to be at least version 3.7.0).

[2017-10-10 09:58] lukehutch commented on #36
Added basic Java 9 classloader support in cf85f258. (See the TODO comment there.)

[2017-10-10 10:28] johnou commented on #36
@lukehutch can you expand on "maven-compiler-plugin needs to be at least version 3.7.0"?

[2017-10-10 21:51] lukehutch commented on #36
@johnou see ["Minimum compatible version" column here](https://cwiki.apache.org/confluence/display/MAVEN/Java+9+-+Jigsaw).

[2017-10-11 05:54] johnou commented on #36
Perfect, thanks!

[2017-10-21 07:41] dantesun opened #147 "Need MethodParameters in MethodInfo"
io.github.lukehutch.fastclasspathscanner.scanner.ClassfileBinaryParser skips all the method attributes. But "MethodParameters" is a new method attribute introduced in JDK8 which can be used in many senarios. Please consider adding "MethodParameters" in MethodInfo

[2017-10-21 10:01] lukehutch commented on #147
Thanks for the request. ([Spec ref](https://docs.oracle.com/javase/specs/jvms/se8/html/jvms-4.html#jvms-4.7.24))

Do you need the final/synthetic/mandated flag, or just the method parameter names?

[2017-10-21 22:29] lukehutch commented on #147
@GedMarc I see your thumbs-up above -- please feel free to answer the above question too. Thanks!
/cc @dantesun

[2017-10-21 22:43] lukehutch commented on #147
I just added a patch for method names. (I don't yet have the final/synthetic/mandated flag available, since I'm not sure how useful it will be..)

[2017-10-22 17:53] dantesun commented on #147
@lukehutch thanks for the quick fix. I tried the latest code from master branch. here is the error:

`2017-10-23T01:46:06.671+0800	FastClasspathScanner	-- Exception in worker thread
2017-10-23T01:46:06.671+0800	FastClasspathScanner	---- java.lang.ArrayIndexOutOfBoundsException: 2048
2017-10-23T01:46:06.671+0800	FastClasspathScanner	---- 	at io.github.lukehutch.fastclasspathscanner.scanner.Classfil

[2017-10-22 19:15] lukehutch commented on #147
@dantesun thanks, will take a look later today. Please see my earlier question -- do you need the parameter type flag?

[2017-10-23 05:50] lukehutch commented on #147
@dantesun Should be fixed now, can you please test again? Sorry that it wasn't working when I committed the code, I hadn't had a chance to write the unit test yet!

[2017-10-23 06:33] lukehutch commented on #147
Worth noting -- the method parameter names are only stored in the classfile if the `-parameters` switch is used on the commandline when the code is compiled.

[2017-10-23 06:36] lukehutch commented on #147
@dantesun also, I can't duplicate the `java.lang.RuntimeException: Unreleased instances: 1`. This says that the program tried to shut down (due to exception) while one `ZipFile` was still open. This should not have happened, and I can't duplicate it. I looked through the code to try to determine how this is happening, and can't see where a race condition could arise (all the worker threads should

[2017-10-23 06:47] dantesun commented on #147
I assume MethodInfo.getParameterTypeStr would work. What I really need is having a full method signature (return type, method name, parameter type/name/index)  without actually loading the class.

[2017-10-23 07:29] lukehutch commented on #147
@dantesun OK, I just added the parameter names to `MethodInfo#toString()`. I also added support for the parameter type flags (final/synthetic/mandated), so those will show up in the parameter types as modifiers, if the flags are set. Please let me know if this works for you.

PS please see my previous comment about `java.lang.RuntimeException: Unreleased instances: 1`, I would like to debug that t

[2017-10-24 03:45] lukehutch commented on #147
@dantesun Method parameter support is included in release 2.7.5 of FastClasspathScanner. Thank you for this feature request!  /cc @GedMarc

(Also, I found and fixed the race condition in the resource release process when an exception was triggered -- thanks for the stacktrace that led to me finding that.)

[2017-10-24 03:45] #147 closed

[2017-10-24 14:26] dantesun opened #148 "how to tell a ClassInfo's access level(public/package/private) or it's a inner class?"
It seems there's no way to tell if a ClassInfo is public or not? And also no way to find out if a class is a innner class or has inner classes.

[2017-10-24 18:32] Wafflemon opened #149 "Java 9 Jar Issue"
Hello,

So I ran into a bug in this library and the error message said to report the issue here. I think this has to do with the module-info.class that is being added to .jar files by the Java 9 compiler. I haven't even moved to Java 9, but I've been noticing that some of my dependency jars have the module-info.class in them. With the introduction of Jigsaw and the module system, I think they were

[2017-10-24 18:39] Wafflemon commented on #149
I found the Jar that was causing the issue! Here is the maven repository for that dependency.
https://mvnrepository.com/artifact/javax.json.bind/javax.json.bind-api/1.0

[2017-10-24 19:37] lukehutch commented on #148
ClassInfo is public, because it is exposed in the public API.

I think you can just look in the class name for a dollar sign? Only inner classes can have dollar signs.

To detect if a class has inner classes, see if its name, followed by a dollar sign, is a string prefix of another class name. (Look at the class names following it in a sorted list of all class names.)

Does that work?

[2017-10-24 20:04] lukehutch commented on #149
@Wafflemon Hi, what version of FCS are you using? I believe this is a dup of #141. I can confirm you are using an old version of FCS, because the reporter of #141 fixed the buggy error message that you were seeing, `Unknown constant pool tag [I@ed6296a` in their PR. Please try upgrading to the latest released version of FCS (2.7.5).

I just tried testing with the maven artifact you linked, and `mo

[2017-10-24 20:04] #149 closed

[2017-10-25 01:36] Wafflemon commented on #149
Oops, I guess I wasn't using the latest version. Thanks for the quick response.

[2017-10-25 02:21] dantesun commented on #148
I am sorry but what I meant "public", I mean the java class represented by a ClassInfo. I want to know is the access level of a class/interface/annotations whose name is  ClassInfo.getName()

[2017-10-25 02:49] GedMarc commented on #148
@dantesun is getClass().getModifiers() == Modifier.PUBLIC not viable?

[2017-10-25 06:42] dantesun commented on #148
@GedMarc do you mean java.lang.Object.getClass().getModifiers() ? What I want is get the class modifiers without actually loading a class through classloader. The modifiers information can be extracted from .class file. But `io.github.lukehutch.fastclasspathscanner.scanner.ClassInfo` doesn't have class modifiers information.

[2017-10-25 06:43] lukehutch commented on #148
@GedMarc I think @dantesun wants to do this without loading classes. Modifiers are now supported using `ClassInfo#getClassModifiers()` in commit fc3613aa493d48f8893c24e1f377fa43201a9537. I also modified `ClassInfo#toString()` to include the modifiers. I will push this out as 2.8.0.

As far as detecting nesting of classes -- I'm working on it. It's quite complicated to parse this out of the classfi

[2017-10-25 08:35] lukehutch commented on #148
@dantesun Class containment info is available in dddfd2bca74a3865e266b0b40ba90e7c4a3ecb82.

[2017-10-25 08:58] lukehutch commented on #149
@Wafflemon you're welcome, thanks for the report, and for narrowing down to the jar that was causing the problem!

[2017-10-25 09:00] lukehutch commented on #36
TODO: We're currently not parsing `module-info.class` at all, see these lines in `ClassfileBinaryParser.java`:

[code]

I'm not sure yet what special parsing support will be needed for `module-info.class`.

[2017-10-25 09:11] lukehutch commented on #148
Both features are released in version 2.8.0.

https://github.com/lukehutch/fast-classpath-scanner/releases/tag/fast-classpath-scanner-2.8.0

[2017-10-25 09:11] #148 closed

[2017-10-29 19:11] dantesun opened #151 "Missing parameter annotations if I don't load class"
As the title described. It seems that the parameter annotation is missing from MethodInfo.

[2017-10-29 19:47] lukehutch commented on #151
@dantesun I don't understand the description, can you please give me an example?

[2017-10-30 05:19] dantesun commented on #151
[code]

`public void foo(@ParamAnnotation String annotatedValue)`

I mean the annotation in parameter declaration should also included in MethodInfo class

[2017-10-30 21:04] lukehutch commented on #151
@dantesun Fixed in master, but to reduce version churn, I might wait a bit before pushing out another version. Are there other changes you think you will need anytime soon?

@dantesun I think you are the only one using method parameter info in the API at this point. The API currently returns a list for each of the parameter info types (parameter names, parameter modifiers, and parameter attributes

[2017-10-30 21:04] #151 closed

[2017-10-31 03:29] dantesun commented on #151
@lukehutch Thank you very much for the quick fix. Parameter annotations are widely used in Spring MVC framework. I am doing some kind of analysis for statically scanning all the Spring MVC controller like class. So technically everything in a method signature matters to me.

[2017-10-31 07:26] lukehutch commented on #151
@dantesun makes sense. Please carefully check if anything else is missing, and I'll push out a release once you think it's complete.

PS please see my question above about array vs. list types for parameter introspection.

[2017-10-31 07:46] dantesun commented on #151
@lukehutch I have no concern about the type returned, list or array both are good to me. I have created a value class for method parameter, such as:
[code]

[2017-10-31 08:02] dantesun opened #152 "Missing ComponentType in MethodInfo.getParameterTypeStrs()"
[code]
MethodInfo.getParameterTypeStrs() simply returns `[List, String]`. But `annotatedValue0` is a `List<String>`.

This problem seems also exists in other types returned like `FieldInfo#getTypeStr` or `MethodInfo.getReturnTypeStr` ...

[2017-10-31 08:06] lukehutch commented on #152
Parameter types are much harder to obtain from the classfile (the type parameters are stored in a different place from the types), and they are often not even present in the classfile (due to type erasure, or in earlier versions of the VM). But let me see what can be done for cases where the info does exist.

[2017-10-31 08:24] dantesun commented on #152
I am not an expert on JVM class format. I am not sure if you need this or not. But here is my two cents.
https://stackoverflow.com/questions/937933/where-are-generic-types-stored-in-java-class-files

[2017-10-31 08:37] lukehutch commented on #152
Yes, correct, it's in the Signature attribute. But it's a bit more complicated for method parameters, I think. I'll look into it.

[2017-11-01 21:43] lukehutch commented on #152
Fixed and released in version 2.8.2.

[2017-11-01 21:43] #152 closed

[2017-11-01 21:44] lukehutch commented on #151
Fixed and released in version 2.8.2.

[2017-11-07 06:35] dengizik opened #153 "Add support for reading annotation parameter values"
Hi Luke,

it would be really nice to have a feature that reads the value of a class level custom annotation without reflection API.

For example:
[code]

Reading aCustomAnnotation's value (i.e. "some precious value here") would be really nice.

Thanks in advance.

[2017-11-10 06:21] lukehutch commented on #153
@dengizik Please try the github head version. You can call `getAnnotationInfo()` on `ClassInfo`, `FieldInfo` or `MethodInfo`. `MethodInfo` also supports `getParameterAnnotationInfo()` to get the concrete annotation parameter values for method parameters.

This is a large change, so please let me know if you run into any problems.

[2017-11-10 07:36] dengizik commented on #153
Hi Luke,

thanks a lot. I will be trying your implementation next week and let you
know about it.

Regards,
Deniz

On Fri, Nov 10, 2017 at 9:21 AM, Luke Hutchison <notifications@github.com>
wrote:

--
Deniz

[2017-11-10 16:04] yohannes911 opened #154 "Under WebLogic 12.2.0.2 does not find annotated classes in ear."
Message: Could not find a ClassLoaderHandler that can handle weblogic.utils.classloaders.GenericClassLoader@f98af41 finder: weblogic.utils.classloaders.CodeGenClassFinder@2cadac89 annotation: xxx-ear@ -- please report this at https://github.com/lukehutch/fast-classpath-scanner/issues

[2017-11-10 21:02] lukehutch commented on #154
Hi @yohannes911 ,

Thanks for the report. It look likes there are several additional classloaders that may need to be supported:

* `weblogic.utils.classloaders.GenericClassLoader`
* `weblogic.utils.classloaders.FilteringClassLoader`
* `weblogic.utils.classloaders.ChangeAwareClassLoader`
* `weblogic.servlet.jsp.JspClassLoader`
* `weblogic.servlet.jsp.TagFileClassLoader`

Unfortunately these are cl

[2017-11-11 09:54] yohannes911 commented on #154
@lukehutch with your last modification I got an error:
`Could not canonicalize path: ...`
`ws-server1    | 2017-11-11T09:44:07.124+0000	FastClasspathScanner	------ java.io.IOException: File name too long
ws-server1    | 2017-11-11T09:44:07.124+0000	FastClasspathScanner	------ 	at java.io.UnixFileSystem.canonicalize0(Native Method)
ws-server1    | 2017-11-11T09:44:07.124+0000	FastClasspathScanner	-

[2017-11-11 11:25] lukehutch commented on #154
@yohannes911 Great, if you see the list of jars, that means that at least one of the additional WebSphere classloaders does support the same `getClassPath()` method call as the ClassLoader that was originally supported.

I just pushed a change that will add the path to the exception message, so we can see what path is giving the "too long" message. Can you please try again with the latest master v

[2017-11-11 11:43] yohannes911 commented on #154
@lukehutch please take a look to this code snippet, this worked for me. I will check your code about 15-20 min.
`
public class WeblogicClassLoaderHandler implements ClassLoaderHandler {
    private static final String GENERIC_CLASS_LOADER = "weblogic.utils.classloaders.GenericClassLoader";
    public static final String[] HANDLED_CLASSLOADERS = { //
            "weblogic.utils.classloaders.ChangeA

[2017-11-11 12:23] yohannes911 commented on #154
I've rolled back my q&d solution, pulled your last changes, and no annotated classes found from jars in my ear, but when I apply my previus changes to the WeblogicClassLoaderHandler class, a scanner finds my classes correctly again.

[2017-11-11 14:41] lukehutch commented on #154
@yohannes911 Please try the latest master version. There was a bug in `addClasspathElements()`, it was adding the path as a single classpath URL, rather than splitting at the path separator. Your code that was tokenizing on `":"` alerted me to this fact. With the change in fd70d19, I was able to eliminate the tokenizing code. Also, I modified the code to try calling `getFinderPath()` and then `get

[2017-11-11 14:58] yohannes911 commented on #154
It's working! Many thanks for You.

[2017-11-11 15:04] yohannes911 commented on #154
Until you release this I will use the SNAPSHOT version from the master. If I can help for you about stabilize a Weblogic classloadear "magic" just ask me, I will make a test as soon as possible! :)

[2017-11-12 13:43] lvq410 opened #156 "Parameter 'ignoreExceptions' is not working"
at io.github.lukehutch.fastclasspathscanner.scanner.ScanResult.classNamesToClassRefs(List<String>, boolean) ScanREsult.java:802
`final Class<?> classRef = classNameToClassRef(className);`
should use io.github.lukehutch.fastclasspathscanner.scanner.ScanResult.classNameToClassRef(String, boolean)

[2017-11-12 22:18] lukehutch commented on #156
Fixed, thank you @lvq410!

[2017-11-12 22:18] #156 closed

[2017-11-12 23:42] lukehutch commented on #154
@yohannes911 Thank you for the offer! Quite frequently I need an expert on a specific runtime environment, when there's a classloader issue to figure out, so I'll let you know if something like that comes up for WebLogic in the future. Much appreciated!

[2017-11-12 23:48] lukehutch commented on #153
@dengizik I'm going to push this out shortly in the next release (2.9.0), since it works for me, and the unit test passes, but if you do discover some issues with this, I can always push out another release. Thanks again for the request!

[2017-11-12 23:48] #153 closed

[2017-11-13 00:02] lukehutch commented on #151
@dantesun I changed parameter annotations back to use arrays rather than lists for method parameter annotations in the latest release (2.9.0), to avoid unnecessarily creating a `List` wrapper object. Sorry for the API churn. Version 2.9.0 also includes support for parameter annotation values, which is a major new change -- please see the release notes

[2017-11-13 08:51] GedMarc opened #157 "Release Notes Inconsistency"
Just a small thing with regards to the release notes for 2.9.x

#154 relates to Oracles WebLogic framework EE6 and not JBoss
#156 relates to JBoss EAP 7+ and WildFly 10+ EE7, as well as Payara 4&5 and Glassfish 4,5A+ EE 7&8, JDK 8 And JDK9
I'm still writing the test cases but I've tested my scenarios..

Kind Regards,

[2017-11-13 09:04] lukehutch commented on #154
@yohannes911 One more thing -- the following two classloader types are not yet supported. Do you think they need to be supported? If so, could you please try to submit a PR for them?:

* `weblogic.servlet.jsp.JspClassLoader`
* `weblogic.servlet.jsp.TagFileClassLoader`

Thank you!

[2017-11-13 09:17] lukehutch commented on #157
Sorry, I wrote those notes hastily while my flight was boarding (and didn't have that info on which versions were affected -- thank you for that!).

However, #156 has nothing to do with JBoss/Wildfly etc. per se, it is about ignoring exceptions. Maybe you mean #150? But that was already merged in a previous release. Or did I miss something else in the release notes?

I could actually use your help

[2017-11-13 10:26] yohannes911 commented on #154
I think this two classloader used only in a web application (war) that has jsp and uses jsp tag libraries. I don't like this techniques but I will take a look in a small POC app for you in next few days.

[2017-11-13 14:02] GedMarc commented on #157
You and I both :) Cell typing waiting for my flight lol!

Will take a look!

[2017-11-13 21:02] mrlambeth opened #158 "Not incrementing 'i' in AnnotationInfo.getUniqueAnnotationNamesSorted()"
![screen shot 2017-11-13 at 3 59 13 pm](https://user-images.githubusercontent.com/6352551/32748899-a514b2f6-c88b-11e7-9368-6c727a7bb1b1.png)

[2017-11-13 21:21] lukehutch commented on #158
Thanks, good catch, sorry about that. Fixed and released in version 2.9.2.

On Mon, Nov 13, 2017 at 2:02 PM, mrlambeth <notifications@github.com> wrote:

[2017-11-13 21:27] #158 closed

[2017-11-16 07:47] dantesun opened #159 "ReflectionUtils.parseComplexTypeDescriptor failed to parse boolean type descriptor"
`        ReflectionUtils.parseComplexTypeDescriptor("()Z");`

throws exception:

[code]

[2017-11-16 08:07] #159 closed

[2017-11-16 08:20] lukehutch commented on #159
Fixed and released in 2.9.3 -- thank you, @dantesun.

[2017-11-16 11:55] GedMarc commented on #157
Looks like #145 instead of 156,

[2017-11-16 12:47] lukehutch commented on #157
Thanks for the followup.

[2017-11-30 10:15] #157 closed

[2017-12-01 21:31] sergey-morenets opened #160 "Performance issue"
Hi

I tried to test performance Fast classpath scanner vs Reflections and results seem strange to me. Reflections was 2-7 times faster. Can you please check the benchmark? There were two use cases: find classes with annotations and find classes implementing interface.

[code]

[code]

[2017-12-03 10:19] lukehutch commented on #160
@sergey-morenets thanks for reporting this. Generally when there is a discrepancy like this, it is because FCS finds many more jars on the classpath to scan than Reflections (FCS supports more classpath specification mechanisms). However, it's very possible that there was a performance regression too. I'll try to test this soon (I'm currently traveling). In case I can't replicate this problem with

[2017-12-03 14:23] GedMarc commented on #160
I've found in large paths with many (many) other-than-class files the scanner does take a knock, with large class path only files it is still quicker (75k+ complex class files).
In JSF or large web-enabled environments there can sometimes be from what I've felt a 7-9 seconds delay when scanning all the html, js, css, minifieds, and other files. It seems as if its the unzip and non-class file scann

[2017-12-03 14:42] lukehutch commented on #160
@gedmarc that's even weirder that FCS is slower than Reflections for non-classfiles (if I understand your comment), since FCS doesn't actually do any processing of non-classfiles, beyond matching the filename, opening the stream, and passing the stream to the user's FileMatchProcessor. Can you please provide an example of timings? PS if you are scanning lots of different things, note that you can

[2017-12-03 19:16] sergey-morenets commented on #160
Hi @lukehutch

Thank you for the quick response. I can create sample project with benchmarks and attach it here. So you can test them as well. I also found another interesting point. I tried to test Mechanism 2 vs Mechanism 1 as first one didn't involve class loading and should be generally faster. However benchmarks showed almost no difference:

[code]

[code]

[2017-12-09 02:55] lukehutch commented on #160
@sergey-morenets that is interesting indeed. In your example, how many classes actually have the `@Entity` annotation? If the number is small, then the similarity of the benchmarks is not at all surprising. If the number of classes is large, then yes, this is surprising, and it may indicate that classes are being inadvertently loaded.

Unfortunately you can only test for this during the first scan

[2017-12-15 09:11] GedMarc opened #161 "Need a better way to do filtering"
Hey Luke,

I've hit a bit of a bad practice with regards to black-listing, not sure if there is a better way (a root properties class perhaps? or a meta-inf/service injection?)

Take a look at https://github.com/GedMarc/GuiceInjection/blob/master/src/za/co/mmagon/guiceinjection/GuiceContext.java from Line 450.

I'm building a JEE framework based on Guice, when running on various EE platforms (Glas

[2017-12-15 09:22] GedMarc commented on #160
From my side, the slowness is purely zip file size - Lots of js, html and css files extracting and locating causes a lot of overhead.
Removing all the web files and restricting the black list resolves my issue. This is a bit of a errrgggg with JSF projects where the file count is extremely high.

In a nutshell, must purely be O.S. timing for the delay in processing?

[2017-12-15 12:25] sergey-morenets commented on #160
Hi

@lukehutch I have no more than 10 @Entity classes.

@GedMarc Thank you. I will try to follow your suggestions and ignore web resources

[2017-12-15 14:05] sergey-morenets commented on #160
Hi

@lukehutch I have no more than 10 @Entity classes.

@GedMarc Thank you. I will try to follow your suggestions and ignore web resources. But how to do that?

If I try to blacklist directories then no @Entity classes are returned:

[code]

[2017-12-15 14:21] GedMarc commented on #160
I went black listing instead of white listing, negative removals as you are correct, I did also experience no custom file finding and etc when specifying white lists.

You can take a look at https://github.com/GedMarc/GuiceInjection/blob/master/src/za/co/mmagon/guiceinjection/GuiceContext.java for how I do it.

Just to make sure you are running ```scanResult = scanner.scan(); ``` ?

[2017-12-15 22:04] lukehutch commented on #161
Hi @GedMarc, shouldn't you be whitelisting the things you *do* want to scan, rather than blacklisting the things you *don't* want to scan? If anything is whitelisted, that means everything else is blacklisted by default.

Other than that, can you suggest some other filtering mechanism that would work for you?

[2017-12-15 22:21] lukehutch commented on #160
@GedMarc:

* If the main overhead is extracting non-classfiles in your case, then FastClasspathScanner should be dramatically faster than any other scanner, because it creates one `ZipFile` instance per thread (`ZipFile` has a per-thread lock around all operations). Notably, Reflections does not do this. Do you still think that FCS is not extracting these files at the maximum possible speed, and i

[2017-12-15 22:49] GedMarc commented on #160
I definitely think it is going at maximum speed :) However I am met with a few limitations -

- I need the scanner to execute asynchronously in EE environments for an ordered execution pattern. In EE7 and under the ForkJoinPools/ThreadLocal's don't tie up properly in wildfly and tomcat, as well as glassfish 4.1 and under. Undertow does not experience this. Due to this I am unable to utilize the as

[2017-12-15 22:53] GedMarc commented on #160
I definitely think it is going at maximum speed :) However I am met with a few limitations -

- I need the scanner to execute asynchronously in EE environments for an ordered execution pattern. In EE7 and under the ForkJoinPools/ThreadLocal's don't tie up properly in wildfly and tomcat, as well as glassfish 4.1 and under. Undertow does not experience this. Due to this I am unable to utilize the as

[2017-12-15 22:58] lukehutch commented on #160
@GedMarc this is getting off the topic of @sergey-morenets' original bug report, can you please move this conversation to another bug? Thanks! (Short answer though: FCS has async scanning methods that can use a user-provided execution service -- and FCS does do proper thread syncronization before exit.)  Re. blacklisting, I don't think there's any way to do this other than what you're doing, if yo

[2017-12-21 09:11] GedMarc opened #162 "Whitelisting"
Hey Luke

I'm trying to get the white listing working as the black listing still takes quite a while :)
When using the white list in my tests - nothing comes up,

Am I doing something wrong? From what I can see I am matching your documentation

[servicelocatortest.zip](https://github.com/lukehutch/fast-classpath-scanner/files/1578576/servicelocatortest.zip)

[2017-12-21 20:26] lukehutch commented on #162
I see you have the source set to 1.8 in Maven, but are you running this on JDK 9? I have found an issue with the way I'm getting paths from the JDK 9 classloader.

[2017-12-21 20:44] lukehutch commented on #36
[JDK 9 is strongly enforcing encapsulation](https://stackoverflow.com/a/41265267). One effect of this is that we can't get the `URLClassPath ucp` field from `AppClassLoader` or `BaseClassLoader`. This probably means we have to rely on JDK 9's own module system for scanning.

[2017-12-21 23:42] lukehutch commented on #36
For the system modules:

[code]

I haven't figured out how to get the module list for non-system modules yet...

[2017-12-21 23:57] lukehutch commented on #36
[Project Jigsaw: Module Class Loading and Bootstrapping -- Jigsaw Team](http://openjdk.java.net/projects/jigsaw/doc/module-class-loading.pdf)

[2017-12-22 00:13] lukehutch commented on #36
See some discussion on related issues here:

https://github.com/policeman-tools/forbidden-apis/issues/54 (the code for `ReadableModulesResourceLoader` may be useful here)

https://github.com/policeman-tools/forbidden-apis/pull/95

[2017-12-22 01:31] lukehutch commented on #36
Some good info on modules in Java 9:
https://blog.andresteingress.com/2017/09/29/java-9-modules.html

[2017-12-22 04:08] lukehutch commented on #36
N.B. for reflection in Java 9+, will need to make FCS its own module, then open modules to the FCS module. From the Javadoc for `Module#addOpens(String packageName, Module other)`:

[2017-12-22 07:37] GedMarc commented on #162
Naw running JDK 8 only

[2017-12-23 00:08] lukehutch commented on #162
OK, so I took a look on JDK 8. The issue is that scanSpec strings with wildcard globs like `*.xml` are not supported currently (the scanSpec is used to specify packages, classes and jars, not filenames). You need to use a `FileMatchProcessor` to match files with wildcards, or with a given extension etc.

However, there is another issue. Whenever even one package is whitelisted, then everything but

[2017-12-23 02:28] lukehutch commented on #162
@GedMarc Please test the master version -- add `FastClasspathScanner#alwaysScannClasspathElementRoot()` to your code before the scan.

[2017-12-23 11:28] lukehutch commented on #161
I think this issue is now a dup of #162? Should this one be closed?

[2017-12-23 11:30] lukehutch commented on #160
@sergey-morenets please see #162, this may solve your whitelisting problem, if you were trying to scan things in the default package (since you mentioned that whitelisting wasn't working for you as expected).

I'm still curious to hear if you have looked at how many packages are being scanned (and which ones) by FCS compared to Reflections, and whether that explains the scanning speed difference.

[2017-12-24 18:13] GedMarc commented on #160
Whitelisting indeed looks good, Don't hate me but I need to log another one!

[2017-12-24 18:14] GedMarc commented on #162
Looks good,

[2017-12-24 19:29] lukehutch commented on #162
Looks good meaning it solves the problem? Please be more specific :)

[2017-12-24 19:52] lukehutch commented on #160
@sergey-morenets see let me know if the change in #162 fixes whitelisting for you too.

@GedMarc keep them coming!

[2017-12-24 19:53] lukehutch commented on #162
Based on your comment in the other bug, I'll assume this is fixed.

[2017-12-24 19:53] #162 closed

[2017-12-24 23:24] lukehutch commented on #36
I sent the following email to the JPMS mailing list...

--

I am the author of Fast Classpath Scanner. I am trying to extend this library to work with JDK 9, and I'm running into a lot of apparent shortcomings of the JPMS API.

These are the main issues I have come across so far:

(1) Automatic modules from the legacy classpath cannot be found using `ModuleFinder.ofSystem()` (because they are not

[2017-12-24 23:30] sergey-morenets commented on #160
@lukehutch Thank you. Did you ship new version or provide some patch to update current jar file?

[2017-12-24 23:36] lukehutch commented on #160
@sergey-morenets there is a new API call checked into the master branch that adds the method `FastClasspathScanner#alwaysScanClasspathElementRoot()`. This will allow you to whitelist the default package (""), without whitelisting all packages in the classpath (because it will scan the default package but not sub-packages, unless the sub-packages are themselves whitelisted). Using this call, you wi

[2017-12-25 10:16] sergey-morenets commented on #160
Hi @lukehutch

Thank you, I will try to use new version.
I also performed small investigation and it turned out that benchmark results depend on how I run the tests.
If I run benchmarks using IDE(Eclipse or IDEA) then Reflections works much faster. If I run benchmarks using single fat jar(with all the project classes inside) then Fast Classpath Scanner shows better performance. Are these results p

[2017-12-25 10:24] lukehutch commented on #160
Again, I cannot will without logs! *Please* attach logs for the two scanners, for each of the runtime environments you describe. I have requested these many times now, and I can't answer in more detail without these. I am confident that the difference comes down to FCS finding more jars to scan than Reflections.

Also, did you try whitelisting packages you want to scan? That should make the scan l

[2017-12-25 11:15] sergey-morenets commented on #160
Hi @lukehutch

I attached copy of my project that contains benchmarks Reflections vs Fast Classpath Scanner. You can use it for testing.

Step sequence:
1) Install JDK 9 (or change project settings to JDK 8)
2) Run mvn clean package
3) Run java -jar germes-persistence-1.3.7.jar in the folder germes-persistence/target/
[Fastscanner.zip](https://github.com/lukehutch/fast-classpath-scanner/files/1585

[2017-12-27 05:38] GedMarc opened #163 "Whitelisting Blocks FileMatchContentsProcessorWithContext"
Hey Luke

Please check the attachment, It looks like when white listing packages the file match processors aren't being taken into effect.
The directory structure is a bit more "realworld"

Whitelisting the "test" package also returns

"io.github.lukehutch.fastclasspathscanner.matchprocessor.FileMatchContentsProcessorWithContext" as a scanned class? :) Not an issue just wondering why :)

Thanks ma

[2017-12-28 03:58] lukehutch commented on #36
The link to this message in the jigsaw-dev archives. Nobody has replied yet; hopefully somebody will provide some answers after the Christmas / New Year's break.

http://mail.openjdk.java.net/pipermail/jigsaw-dev/2017-December/013439.html

[2017-12-28 04:42] lukehutch commented on #163
First off the bat -- as mentioned in my comment in the previous bug you filed, #162, you cannot whitelist wildcarded/globbed filenames like `*.json`. That's the purpose of the different types of `FileMatchProcessor`, such as one that matches file extensions.

Secondly, as also mentioned in #162, you need to add `FastClasspathScanner#alwaysScanClasspathElementRoot()` to your code before the scan. A

[2017-12-28 06:34] lukehutch commented on #160
@sergey-morenets I ran the code, with logging enabled, and what I saw was exactly as predicted. Here is the log from Reflections:

[code]

This was part of the log from FastClasspathScanner:

[code]

Reflections only finds one directory to scan. FCS finds and scans 30 jars and two directories. In fact, Reflections somehow manages to find `germes-model` but not `germes-persistence`, even though bot

[2017-12-28 06:37] lukehutch commented on #160
PS for reference, some code to enable log4j logging in Reflections is the following (there is probably a shorter version, I am not a log4j expert, and just copied/pasted this from somewhere).

[code]

In FCS, just call `.verbose()` before `.scan()`.

[2017-12-28 06:38] lukehutch commented on #160
PPS @sergey-morenets please let me know if you think this bug should be closed, given the above information, or if there are more performance issues you want me to look into.

[2017-12-28 11:24] rupebac opened #164 "Expose classpathElementOrderURLs"
I am very interested in your library to solve a typical problem. Fetching the effective classpath. I have two suggestions to make, and would like to know what you think about them:

1) I have seen that `ScanResult `exposes `public List<File> getUniqueClasspathElements() ` but there is no getter for `classpathElementOrderURLs`. I think it makes sense you stop working with `File`, and move to things

[2017-12-28 11:32] GedMarc commented on #163
Hey Luke

Not sure if you managed to take a look, I must have left those white lists in by mistake,
[code]
I'm matching on the path leaf "persistence.xml" and the others,
```scan.matchFilenamePathLeaf(key, value);```

The whitelisted package is "META-INF", I tried many variations of this to see if it would ever match.
[code]
I've also whitelisted "WEB-INF" to see scanning in that directory when sp

[2017-12-28 14:39] lukehutch commented on #164
Hi @rupebac,

I agree that fetching the effective classpath is a major usecase for FCS. It has been a lot of work to get FCS to work with the myriad of classpath specification mechanisms that exist out there in the wild, and nobody should have to repeat that work.

There are several reasons that I didn't just return the raw URLs obtained from the classloaders. Currently, `getUniqueClasspathElement

[2017-12-28 14:40] lukehutch commented on #164
PS the reason I don't work with `Path` is because it is a horribly slow and inefficient API. I benchmarked the heck out of a range of systems for working with paths, files and URLs, and `Path` was really slow in some cases, so I don't even use it internally, except in one or two cases where it was necessary.

[2017-12-28 15:12] lukehutch commented on #163
@GedMarc you've got to look at the logs whenever something weird is happening... always take a look at the output of `.verbose()`. In this case you have:

[code]

So:

1. You need `"jar:antlr-2.7.7.jar"`, not `"jar:lib/antlr-2.7.7.jar"`
2. `"dir:"` is a bit misleading, but it doesn't currently allow you to specify a directory. It just makes it so that directories are whitelisted but jars are not.

[2017-12-28 16:19] rupebac commented on #164
Alright. Thanks for the explanation. It makes fully sense now. I did not think on canonicalization.
 I was not aware of the inefficiency of the Path implementation in Java 8.

As you have explained I do not think it makes much sense to add support to return the URLs as it from the class loaders.

Interesting discussion about NIO vs IO performance:

https://stackoverflow.com/a/7611531/1043677

Feel

[2017-12-28 17:09] sergey-morenets commented on #160
Hi @lukehutch

Thank you for the deep investigation. I think you can close this ticket.

[2017-12-28 20:23] lukehutch commented on #160
OK, thanks for the report!

[2017-12-28 20:23] #160 closed

[2017-12-28 23:13] lukehutch commented on #164
Path is probably not particularly inefficient given all that it does, and it's a nice API (perhaps the only nice way to deal with paths and URLs in a unified way in Java). But there are just faster ways to get the job done when you care about speed, and when you're processing a large number of paths.

Thanks for reporting, will close the issue. I'm pushing out version 2.9.4 now with the additional

[2017-12-28 23:13] #164 closed

[2017-12-28 23:20] lukehutch commented on #162
Released in 2.9.4.

[2017-12-28 23:23] lukehutch commented on #163
`META-INF` can now be given as a package name for whitelisting in version 2.9.4. Please comment if it somehow doesn't work for you.

[2017-12-28 23:23] #163 closed

[2017-12-29 00:40] GedMarc commented on #161
Closed by #164

[2017-12-29 01:22] #161 closed

[2017-12-29 01:24] lukehutch commented on #154
@yohannes911 Thanks for offering to put together a POC for this. Any progress, by chance? If not, I will be unlikely to do this myself, so maybe I should close this bug report until somebody complains about missing support for the Weblogic JSP classloader?

[2018-01-03 00:38] RameshRM opened #165 "What is the right usage of fast-classpath-scanner in Maven Plugin setup"
Hi @lukehutch ,

I have setup with a `war` project and i am writing a `maven plugin` that uses the `fast-classpath-scanner` and extracting some method information from the classes scanned. THe classpath scanning is incomplete and comesup with very small list. If i use the class with my Java class i do get all the classes that are scanned.

Any pointers to this  ?

Thx
Ramesh

[2018-01-03 01:54] lukehutch commented on #165
Hi @RameshRM, please call `.verbose()` before `.scan()`, and attach the results here from both runtime environments, so I can see the difference in which classpath elements are being picked up in both cases. Thanks!

[2018-01-03 08:33] RameshRM commented on #165
HI @lukehutch

Advanced thanks for looking into this,

1. For the log that works

[code]

[2018-01-03 09:22] RameshRM commented on #165
@lukehutch fixed it, I had to override the ClassLoader.

Thanks

[2018-01-03 09:22] #165 closed

[2018-01-03 09:31] lukehutch commented on #165
@RameshRM you mean the problem was not in FCS? What do you mean that you had to override the ClassLoader to fix it?

[2018-01-03 19:03] RameshRM commented on #165
@lukehutch Thats right, the `plugin` intention was to scan files out side the maven plugins classpath, and I had to set the class path & class loader of the runtime environment and not take the maven plugins class path.

[2018-01-04 09:34] GedMarc commented on #154
I really don't think JSF/JSP and Tag classes should be scanned - they are already under a hell of a lot of load from weld, and it is tightly coupled with it. Any operation will give you performance nightmares.

[2018-01-04 09:42] GedMarc commented on #131
WebSphere shouldn't be used for production in any case, and in most instances is frowned upon for usage JDK6 and up. It is for legacy software only and should not be used for any new development performed in this decade. The base language is JDK5 and is not backwards compatible from JRE8.
WebLogic also fits in this bucket and was chucked out for Glassfish.

If you can - switch to an actual EE serv

[2018-01-04 11:26] lukehutch commented on #131
@GedMarc good info, I don't know anything about any of these containers, so thanks, I'll close this bug. If you're feeling ambitious, it would be great if you could see if there are any classloaders in the more modern environments that you mentioned that aren't properly supported yet.

[2018-01-04 11:26] #131 closed

[2018-01-04 11:28] lukehutch commented on #154
@GedMarc OK, hopefully nobody needs annotation scanning or something for JSP classes (is that even feasible?), but I'll close this based on your recommendation.

[2018-01-04 11:28] #154 closed

[2018-01-16 11:52] facboy opened #166 "Add ability to whitelist a canonical path as a jar"
I have a problem when running Flink under Yarn, it ships the jars to the task managers in a blob store.  These show up on the classpath as files without any extension (they have a base64 name based on their key in the blob store).  fast-classpath-scanner ignores these jars because they don't end with an appropriate extension.  unfortunately i don't have any control over how these are named.

is it

[2018-01-16 18:10] lukehutch commented on #166
Thanks for the report. Fixed in version 2.9.5, just released. The changes make FCS no longer rely on the file extension: if a file is encountered on the classpath, an attempt is made to open it as a zipfile, regardless of the extension. I added a unit test, so this should work for you, but please let me know if it doesn't.

[2018-01-16 18:10] #166 closed

[2018-01-16 18:34] GedMarc commented on #166
This is great, will help a lot with sars, hars and the likes.
is there a performance knock? Or a flag to disable the function? :)

[2018-01-16 18:50] lukehutch commented on #166
There are so many *ars... at last count, I had jar, zip, war, car, ear, sar, har, par and wsjar...

No, there should be no performance impact. FCS just no longer early-rejects classpath elements without the right sort of filename extension.

Both zipfiles and directories can tell if a given relative path is a directory or file (or doesn't exist). I just assume that if a path is provided, and it ma

[2018-01-17 12:05] facboy commented on #166
yes it seems to work, thanks for the prompt fix!

[2018-01-17 13:34] lukehutch commented on #166
@facboy great, thanks for confirming.

[2018-01-17 21:13] badfish69 opened #167 "Indeterminate order of scanSpec evaluation can result in missed classes"
Due to the way scanSpec evaluates a list of packages, the order in which they are evaluated can be important.

For example, if the scanSpec includes packages that are ancestors of other packages in the spec, it is critical that the earliest ancestor is evaluated first (so a HAS_WHITELISTED_PATH_PREFIX result can be returned), otherwise an ANCESTOR_OF_WHITELISTED_PATH result may be returned resulti

[2018-01-17 22:26] badfish69 commented on #167
FYI: I've submitted pull request #168 as a demonstration of the issue and also a proposed fix.

[2018-01-18 00:40] lukehutch opened #169 "Remove parent URLs from java.class.path paths when calling ignoreParentClassloaders()"
See https://groups.google.com/d/msgid/fastclasspathscanner-users/27252b2f-f010-4546-81cf-e4fb8152b19f%40googlegroups.com

[2018-01-18 01:05] lukehutch commented on #167
@badfish69 Many thanks for finding this issue, figuring out the (complex) cause, and submitting not just a patch but also a unit test! I'll push this out in a release this evening, probably -- I have another issue I need to fix first.

[2018-01-18 01:05] #167 closed

[2018-01-18 07:42] lukehutch commented on #169
Fixed in 2.10.0.

[2018-01-18 07:59] lukehutch commented on #167
Released in 2.10.0.

[2018-01-18 20:07] badfish69 commented on #167
@lukehutch Thanks for the quick turnaround with the release... means I can use a released version of the package rather than my patched snapshot :-)

[2018-01-18 21:29] jacobg opened #170 "Error "Could not find a ClassLoaderHandler that can handle AntClassLoader""
I just switched out Reflections for fast-classpath-scanner due to multi-threaded issues with reflections. Our scala tests run using an ant task are failing with fast-classpath-scanner due to not finding certain expected classes. In verbose mode, I see this warning:

`[ant:scalatest] 2018-01-18T16:21:04.913-0500    FastClasspathScanner    ------ Could not find a ClassLoaderHandler that can handle A

[2018-01-18 22:36] jacobg commented on #170
Looks like registering this class handler fixes it:

`
public class AntClassLoaderHandler implements ClassLoaderHandler {

	public static final String[] HANDLED_CLASSLOADERS = { "org.apache.tools.ant.AntClassLoader" };

	@Override
	public DelegationOrder getDelegationOrder(ClassLoader classLoaderInstance) {
		return DelegationOrder.PARENT_FIRST;
	}

	@Override
	public void handle(ScanSpec scanSpec

[2018-01-19 00:10] lukehutch commented on #170
@jacobg Thank you for this report, and for the code to fix the issue. It's quite surprising that nobody else has hit this yet (or at least reported it)! It's also surprising that Reflections had no issue with this classloader, but that makes me think that I also need to be trying a range of different predictable method names and field names (such as `getClasspath()`) to get the classpath as a fall

[2018-01-19 01:10] lukehutch commented on #170
@jacobg Oh, I remember the reason for the static field now. Java does not have the ability to specify required static methods in interfaces, and I wanted to be able to query each of the `ClassLoaderHandler` classes to get the list of `ClassLoader` names that they handle, without instantiating the `ClassLoaderHandler`. (One `ClassLoaderHandler` will be instantiated for each `ClassLoader`, but by re

[2018-01-19 01:24] lukehutch commented on #170
Released in 2.11.0. Thanks again!

[2018-01-19 01:24] #170 closed

[2018-01-19 12:42] jacobg commented on #170
Thanks so much Luke for the engagement and fast turnaround! When will 2.11 be on Maven?

[2018-01-20 01:08] lukehutch commented on #170
@jacobg I pushed 2.11.0 out last night. I just double-checked, and it's in Sonatype, although it usually takes a few hours to make it to Maven Central. You may have to update your Maven index if you can't see it yet.

[2018-01-22 11:39] lukehutch commented on #170
@jacobg Yeah, Maven Central is really slow at updating :-)  Let me know if you come across any other issues!

[2018-01-23 19:21] ncoe opened #171 "Scanning on LinuxKit doesn't work when scan root is not root directory of a jarfile"
https://github.com/lukehutch/fast-classpath-scanner/blob/c07698e2b7dea93b102b35f04f369bf5e911b789/src/main/java/io/github/lukehutch/fastclasspathscanner/scanner/RelativePath.java#L224

The line indicated is getting null from nestedJarHandler, when then is wrapped and throw as an IOException. This is preventing matching classes from being processed for a jar.

[code]

This has been seen using 2.9.5

[2018-01-23 20:18] lukehutch commented on #171
@ncoe thanks for the report. That was a recent change, and I have a unit test for a nested jar like this, but this NPE wasn't being triggered, because the nested jar path was valid (the NPE was only thrown if there was an issue finding or opening the nested jar). I commited a fix for the NPE, and just released version 2.11.1 with the fix.

Can you please try out version 2.11.1 (it takes a few hour

[2018-01-23 21:45] ncoe commented on #171
Thanks for the fast response. Updating to 2.11.1 is not quite enough.

2018-01-23T21:41:04.427+0000    FastClasspathScanner    -- Searching for "Class-Path:" entries within manifest files
2018-01-23T21:41:04.433+0000    FastClasspathScanner    ---- Ignoring JRE jar: /usr/java/jdk1.8.0_131/jre/lib/ext/localedata.jar
2018-01-23T21:41:04.433+0000    FastClasspathScanner    ---- Ignoring JRE jar: /usr

[2018-01-23 21:49] ncoe commented on #171
FYI, the nesting is from a jar created with spring-boot.

[2018-01-23 21:54] lukehutch commented on #171
@ncoe Thanks -- can you please attach the entire log? This is missing the other log lines generated by the constructor to `NestedJarHandler`, so I can't see why the jarfile can't be found or opened.

Can you please verify whether `/acceptance-1.22-SNAPSHOT.jar` exists in the root directory, and contains the directory path `/BOOT-INF/classes`? It's a bit weird that you have this jarfile sitting in

[2018-01-23 22:19] ncoe commented on #171
`2018-01-23T21:41:04.136+0000    FastClasspathScanner    FastClasspathScanner version 2.11.1
2018-01-23T21:41:04.149+0000    FastClasspathScanner    Operating system: Linux 4.9.60-linuxkit-aufs amd64
2018-01-23T21:41:04.149+0000    FastClasspathScanner    Java version: 1.8.0_131 (Oracle Corporation)
2018-01-23T21:41:04.150+0000    FastClasspathScanner    JRE paths:
2018-01-23T21:41:04.150+0000

[2018-01-23 22:55] lukehutch commented on #171
There are a couple of strange things about this log:

(1) The following should not have been extracted as a file, since `/BOOT-INF/classes` is usually a directory (but there is code that checks `ZipEntry#isDirectory()`, so something went wrong here -- maybe the zipfile is corrupt?):

[code]

(2) I don't see any of the log entries that would indicate that the value should be returned as null (which

[2018-01-23 23:25] ncoe commented on #171
Perhaps, just be aware that may take some time. I only have theories on what to consider for a minimal test suite at this time. It may not be until the weekend before I can dive that deep.

[2018-01-23 23:34] lukehutch commented on #171
That's fine. If you have a jar you can send me under NDA or something, that would also work, and I can delete it as soon as I have found the root of the problem.

[2018-01-23 23:46] lukehutch commented on #171
@ncoe I just tested with a similar jar, using a path of the same form, `jar:file:/path/to/thejar.jar!/dirname`, and I don't see any of the same issues that your jar is triggering. Therefore, it appears something is unusual about the jars generated by Spring. I don't know how to set this up in Spring though, so I will wait for you to have a chance to send me a test project that demonstrates the iss

[2018-01-24 00:03] lukehutch commented on #171
@ncoe Can you please tell me what the following code prints?:

[code]

[2018-01-24 06:10] lukehutch commented on #171
@ncoe I built a demo jar with Spring Boot, and could not replicate the problem.

[2018-01-24 10:22] anthonykr3 opened #172 "Error when trying to get method name for methods with generics"
I am getting an error when trying to reconstitute the method name for a generic method with the following signature:

public <T> TestB<T> toTestB(TestC<T> other)

The error is:
`Type signature could not be parsed: <T:Ljava/lang/Object;>(Lio/github/lukehutch/fastclasspathscanner/issues/issue199/a/TestC<TT;>;)Lio/github/lukehutch/fastclasspathscanner/issues/issue199/a/TestB<TT;>; (position: 0)`

It

[2018-01-24 17:14] ncoe commented on #171
Running that code on the jar file returns false. This makes sense to me because there is a shell script at the start of the "jar" that spring boot produces, which makes it unable to be opened in applications like 7zip.

[2018-01-24 17:33] lukehutch commented on #171
@ncoe Sorry, why does that make sense? When you say it is an executable zipfile, I think you mean a jarfile with a main class specified in the manifest (since the extension of your file is `.jar`, not `.exe`). Therefore, it should definitely be a valid zipfile, and it should be able to be opened by both 7zip and Info-Zip (and also by Java's `ZipFile` class).

It is quite weird that `zipFile.getEnt

[2018-01-24 18:10] ncoe commented on #171
Same result with 1.5.9.
When I open the "jar" file with notepad++, I see this text prepended to the contents I see when opening a regular jar:
`#!/bin/bash
#
#    .   ____          _            __ _ _
#   /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \ \
#  ( ( )\___ | '_ | '_| | '_ \/ _` | \ \ \ \
#   \\/  ___)| |_)| | | | | || (_| |  ) ) ) )
#    '  |____| .__|_| |_|_| |_\__, | / / / /
#   =========|_|===

[2018-01-24 19:38] GedMarc commented on #171
The exact error you are getting is this : https://github.com/spring-projects/spring-boot/issues/4619
The JAR file is corrupt as built from the Spring boot maven plugin.

The Spring fix version is 4.2.9 (switch your spring version). I don't think any fix needs to happen on this library.

I just want to say, Spring is doing mass class alterations with the cgLib, and no class that you've built, will

[2018-01-24 20:53] ncoe commented on #171
Reverting from 5.02 to 4.29 did not have any effect. This may just need to be something to keep in mind.
Thanks for taking a look.

[2018-01-24 21:04] GedMarc commented on #171
:)
I have this library in 5 production environments and 103 projects, any and every fix I definitely need, so we all help each other :)
What about negating the jar file "-jar:" or white listing what you want to scan? Would this be a workaround?

[2018-01-24 22:26] #172 closed

[2018-01-24 22:28] lukehutch commented on #172
@anthonykr3 Many thanks for your report, and for the test case! Strangely, your test case didn't fail on my machine (maybe because ecj compiles the code slightly differently than javac), but I was able to reproduce using the type string in the error message you sent. The fix will be in the next release, version 2.12.0, which should be out in an hour or two.

[2018-01-24 23:13] lukehutch commented on #171
@GedMarc that may be an unrelated bug? But either way, @ncoe makes a good point -- self extracting archives (ZipSFX) should work on the classpath (even though I have no idea why anyone would do what Spring-Boot is doing here...)

The reason that the `isDirectory()` method was returning false even though the directory listing was found by Java's `ZipFile` class is that `ZipFile` can skip up to the

[2018-01-25 00:16] ncoe commented on #171
Sorry, but no.
2018-01-25T00:13:58.136+0000	FastClasspathScanner	---- Could not canonicalize path /project-acceptance-1.23-SNAPSHOT.jar!/BOOT-INF/classes : java.io.IOException: Could not locate jarfile jar:file:/project-acceptance-1.23-SNAPSHOT.jar!/BOOT-INF/classes -- resolved to: /project-acceptance-1.23-SNAPSHOT.jar!/BOOT-INF/classes

[2018-01-25 00:22] lukehutch commented on #171
@ncoe Dangit. Can you please attach the full log? Please attach the log this time, rather than pasting into the box. (Just drag and drop the file onto the editing pane.)

[2018-01-25 01:06] ncoe commented on #171
Counter offer: As it is extremely odd what is happening, how about I create a demo project as previously requested that replicates the issue when time allows.

[2018-01-25 01:08] lukehutch commented on #171
@ncoe Sure, that will do it. Although digging into this issue uncovered two other issues so far, so we're making progress :-)

[2018-01-25 01:09] lukehutch commented on #171
@ncoe PS I'll be traveling for a week, leaving this Friday, so the fix may be delayed if you don't have time to create the test project before the weekend. (Just giving you a heads-up.)

[2018-01-25 01:35] ncoe commented on #171
thats fine, life happens

[2018-01-25 04:21] lukehutch commented on #171
@ncoe better "Is this it?" than "Why has my bug sat in the bugtracker for 2 years and nobody has even commented on it?"! I try to be as responsive as possible with FCS, due to frustration with how few software projects out there do the same...

I committed a unit test for this, with a Spring Boot "fully executable jar", produced the same way you describe, using the same Maven config lines. It has

[2018-01-25 09:46] anthonykr3 commented on #172
Thanks so much for the speedy response!

[2018-01-25 11:25] GedMarc commented on #171
The efforts are recognized master luke!

[2018-01-25 11:42] natros opened #174 "Scanning is slower in 2.12.0"
When scanning with 2.11.1 it takes 150ms and with 2.12.0 takes 450ms.

[2.11.1.txt](https://github.com/lukehutch/fast-classpath-scanner/files/1663789/2.11.1.txt)
[2.12.0.txt](https://github.com/lukehutch/fast-classpath-scanner/files/1663790/2.12.0.txt)

[2018-01-25 11:53] lukehutch commented on #172
You're welcome!

[2018-01-25 16:45] lukehutch commented on #174
@natros Thanks for the report. I can't replicate the slowdown, on a couple of different large classpaths.

I noticed from your logfile that there was a bug in 2.11.1 that caused `java.class.path` to not be split properly on path separator characters `':'`, so relative to the 2.12.0 log, 2.11.1 missed a couple of jars that it was supposed to find (that weren't found through ClassLoaders), and so 2.

[2018-01-25 16:46] lukehutch commented on #174
PS I also profiled this extensively in JProfiler, and couldn't see a huge performance difference in any specific calls in version 2.12.0 compared to 2.11.1.

[2018-01-25 20:32] ncoe commented on #171
strange, just downloading and building master has issues

`Results :

Failed tests:
  Issue171Test.springBootFullyExecutableJar:34
Expecting:
  <[]>
to contain only:
  <["hello/HelloController.class", "hello/Application.class"]>
but could not find the following elements:
  <["hello/HelloController.class", "hello/Application.class"]>

  Issue46Test.issue46Test:43
Expecting:
  <[]>
to contain only:

[2018-01-25 20:40] lukehutch commented on #171
Super weird, since the tests all pass on my machine. I just tried running them again, and all tests succeed in both Eclipse and using `mvn test`. The Travis build status is also currently green, meaning the tests run fine on the Travis server.

Is there anything unusual about your setup? (Even though I don't see why any environment-specific details should cause these failures...)

[2018-01-25 21:45] ncoe commented on #171
* I am running windows 10 enterprise
* No jars on my machine are in a root directory
* I do not have a tmp directory, though I do have a temp directory that I put things every so often.
* Thanks for the refresher on markup
[code]

[2018-01-25 22:40] natros commented on #174
Tested with JMH

**2.11.1**
[code]

**2.12.0**
[code]

**2.12.1-SNAPSHOT**
[code]

[2018-01-25 22:42] natros commented on #174
Test with a simple loop:

[code]

**2.11.1**
[code]

**2.12.0**
[code]
**2.12.1-SNAPSHOT**
[code]

[2018-01-25 22:55] natros commented on #174
This is only a stripped version
[pom.xml.gz](https://github.com/lukehutch/fast-classpath-scanner/files/1665969/pom.xml.gz)

[2018-01-26 02:01] lukehutch commented on #171
@ncoe Ah -- everything about your symptoms seemed to indicate you were operating in a weird OS environment (like Windows), however I couldn't understand that, since your first full log you sent me said at the top:

[code]
Does this mean that the bug manifests on both Windows and Linux then?

Also from your first full log:

[code]
This is where I came to the conclusion that you had jarfiles in the

[2018-01-26 04:52] Alexander-- commented on #171
@lukehutch

So they are running FCS on Docker-based system, which apparently can support weird combinations of Linux and Windows, — https://github.com/linuxkit/lcow.

Speaking about AUFS filesystem… Despite it's widespread adoption, AUFS is disliked by Linux kernel developers; there is zero chance of mainlining it. It is rather buggy (partly due to challenges of seamlessly merging multiple filesys

[2018-01-26 05:49] lukehutch commented on #171
@Aleander-- ah, so I probably can't replicate this unless I set up the same dockers environment..

I set up a Windows VM on my laptop to take a look at this while I'm traveling over the next week. But if that is not sufficient to replicate the issue, @ncoe is it possible that you could also set up a Docker instance that I could log into to test this?

[2018-01-26 14:00] lukehutch commented on #174
@natros thanks so much for the detailed timing, and for the test project. I'm traveling for the next 3 weeks, but I will try to investigate soon. What OS and JVM / runtime environment are you running on?

[2018-01-26 14:26] natros commented on #174
no rush, take your time.

java -version
java version "1.8.0_162"
Java(TM) SE Runtime Environment (build 1.8.0_162-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.162-b12, mixed mode)

macOS 10.13.3
Intellij IDEA 2017.3.4

[2018-01-26 15:39] ncoe commented on #171
Windows is my develop environment, docker is the environment where this jar is deployed so that several containers can work together to provide all the services needed for testing. The docker environment built is probably where the jars in root are coming from. Regarding replication, I was planning on considering docker as part of the minimal replication so that is not a problem.

[2018-01-27 15:26] lukehutch commented on #171
@ncoe The tests do pass on Windows 10 in my own testing, so it's definitely the LinuxKit environment that is causing the screwiness here.

[2018-01-27 20:38] ncoe commented on #171
Not yet replicated, but base structure is seen by https://github.com/ncoe/fast171test.

[2018-01-30 14:42] anthonykeenan opened #175 "Kotlin type parsing fixes"
I have another issue after the latest update. I'm getting "Parameter number mismatch" when trying to parse a class file generated by Kotlin for an enum.

It looks like the <clinit> method has two parameters which are marked as synthetic, but when trying to generate the method signature it is failing [here](https://github.com/lukehutch/fast-classpath-scanner/blob/ab41c776299cbf2f4c40eab5b39888b07e6

[2018-01-30 19:35] lukehutch commented on #175
Thanks so much for the report and testcase, @anthonykr3. I'm traveling right now, but I'll try to get to this in the next few days.

[2018-01-30 20:25] lukehutch commented on #175
@anthonykr3 -- You're right, the method type signature (stored in the extended attributes for the method) is `()V`, but in the method definition itself, the signature is defined as `(Ljava/lang/String;I)V`. I'm not sure of the right thing to do here -- should I drop the synthetic parameters when reporting the method info? Is it only synthetic parameters that may be added automatically in this way?

[2018-01-30 20:29] lukehutch commented on #175
PS for reference, the problem is happening in `ClassfileBinaryParser.java`, lines 951-955:

[code]

The `methodTypeDescriptor = methodTypeSignature;` line overwrites `(Ljava/lang/String;I)V` with `()V`. I made the assumption that `methodTypeSignature` would always contain richer type information than `methodTypeDescriptor` (e.g. generic type parameters), but it turns out that's not always the case

[2018-01-30 23:05] Alexander-- commented on #175
I have had a look at JVM spec and Kotlin source code, but failed to understand what's going on.

The only possible hint might be in this commit: https://github.com/JetBrains/kotlin/commit/ecec87cbc75fb5727afe9a280bb876ed81cdf67f, but it looks like this specific effect (weird constructor signature) was a side effect of that change, rather than their goal.

Of course, enums aren't meant to be instan

[2018-01-31 06:30] lukehutch commented on #175
It's always better to provide extra information rather than throw it away.. I guess users can just discard synthetic and mandated types of that wasn't the human-visible API.

I'll try to write some code that combines the signatures in a smart way, by aligning the parameter lists according to the modifier bits, but ugh, that's ugly to have to do.

[2018-01-31 18:52] anthonykr3 commented on #175
Just a FYI - I hacked a version together today that ignored synthetic parameters (just to see whether that would be the end of my problems), and I got another error with a method that had parameters with a modifier of 0x8000, which I believe is mandated.

Then I tried hacking a version together which ignored synthetic and mandated parameters, and I found another case where there was a mandated par

[2018-01-31 23:06] lukehutch commented on #175
@anthonykr3 Thanks for working on this. I didn't want to duplicate the work you already did, but it seems that the full solution is complex, since you really have to merge the two type signatures together for some usecases, and keep them separate for others. I took @Alexander-- 's suggestion of keeping the type signatures separate, and delivering both through the API, but I wanted to merge the typ

[2018-02-01 13:11] lukehutch commented on #175
@Alexander-- thanks for the sleuthing to track down the Kotlin code involved. It's possible that Kotlin is the only language that has different parameter lists in the two type signatures -- this stuff isn't explained well anywhere I have found. It seems that synthetic and mandated parameters were added in JDK8+, and only if you use those are the parameter accessor flags even added to the method at

[2018-02-01 14:13] lukehutch commented on #175
@anthonykr3 I'm relatively confident that this patch gets us at least closer to the goal, if not solving the problem, so I released 2.12.1 so it's easier for you to test the changes. Let me know how it goes.

[2018-02-01 14:17] anthonykr3 commented on #175
Sorry, I've been testing it this morning - I've just created a pull request with another failing test, I was just working through the test case to make sure I didn't miss anything, but I'll let you have a look now

[2018-02-01 14:18] anthonykr3 commented on #175
With this one I was getting a Parameter arity mismatch between access flags and internal param types

[2018-02-01 14:18] anthonykr3 commented on #175
Which I believe is to do with the fact that it's not sending through any parameter access flags

[2018-02-01 17:44] lukehutch commented on #175
@anthonykr3 I tried your new testcase. But you are just manually passing through `[]` as `parameterAccessFlagsInternal` -- I need the actual Kotlin class that calls the API this way, so that I can see how the classfile format is causing this API call. Can you please check into the `resources` directory a classfile that triggers the issue, as you did previously? Thank you.

[2018-02-01 17:48] anthonykr3 commented on #175
I tried that originally but it didn't work this time, the scanner just didn't find any classes in it. I'm assuming because it needed it's dependencies? So I worked out what parameters were being sent through hoping that would be enough. I've pushed another commit that has a zip file with the class file, if that helps? If not I can get the whole jar.

[2018-02-01 17:50] lukehutch commented on #175
Try calling `.verbose()` before `.scan()` to see why the classfile isn't being found. That can happen, for example, when the class is not in the right path relative to the scanning root (usually the root directory) of the jar. I'll take another look once you are able to check in a jarfile that triggers the exception. Thanks!

[2018-02-01 17:56] anthonykr3 commented on #175
*sigh* I'd got a typo in the jar file name. I've pushed another commit where the test does fail, and it uses the jar file.

[2018-02-01 18:13] lukehutch commented on #175
@anthonykr3 OK, what's going on is that synthetic parameters are listed in only one type descriptor, whereas mandated parameters are listed in both. I *really* hope this is not only true in Kotlin, i.e. if this is different in other JVM languages, then this is going to be very tricky to handle in a reliable way.

The modifier bits specify:

* 0x1000 (ACC_SYNTHETIC): Indicates that the formal param

[2018-02-01 18:28] lukehutch commented on #175
@anthonykr3 This should be fixed in 2.12.2. Please let me know if you run into more problems.

[2018-02-01 18:45] anthonykr3 commented on #175
So I definitely got further this time - but I've had another error. I've raised another PR with another test case. This time it looks like it's to do with the type of the parameters rather than the annotations.

Am happy to raise a separate issue if the thread is getting confusing!

[2018-02-01 19:19] lukehutch commented on #175
@anthonykr3 This one was a type erasure issue, and thanks again for this -- each report you send makes FCS better :-)  Fixed (hopefully!) in 2.12.3.

[2018-02-02 14:45] lukehutch commented on #175
@anthonykr3 The latest fixes are in 2.12.4. Let me know how this goes.

[2018-02-02 15:25] anthonykr3 commented on #175
Thanks @lukehutch I'll have another test.

[2018-02-03 00:22] lukehutch commented on #175
The latest fixes are in..

[2018-02-04 18:27] anthonykr3 commented on #175
The latest version seems to be working fine for me now - I'll do some more testing on Monday but hopefully this should be it. Thanks so much for all your help though!

[2018-02-04 20:23] lukehutch commented on #175
@anthonykr3 Great, thanks for testing. I checked in a few more changes that make type checking a bit more stringent (it requires type parameters like `<X extends xyz.Cls>` to match concrete classes after type erasure, e.g. `List<X>` should match `List<Cls>`). This doesn't break any of the tests, but please let me know if any issues result. Released in 2.12.6.

[2018-02-05 08:45] lukehutch commented on #175
@Alexander-- @GedMarc any input you can give on the previous comment above would be much appreciated.

[2018-02-05 09:43] lukehutch commented on #175
FYI here are the cases from @anthonykr3 's test cases so far that have mismatches between the fields described above:

[code]

[2018-02-05 10:19] anthonykr3 commented on #175
FYI - these classes have been generated using version 1.1.60 of Kotlin. We are just in the process of upgrading to the most recent version. When I get chance I’ll re run the scanner after compiling with the most recent version of Kotlin and see whether there is any difference.

[2018-02-05 11:29] Alexander-- commented on #175
@lukehutch

Are there any actual problems, caused by such files? There is already an API for reporting scanning errors, so as long as FCS can keep scanning, isn't everything fine?

[2018-02-05 12:45] lukehutch commented on #175
@Alexander-- I just checked in the debug print statement code -- search `ClassfileBinaryParser.java` for `"// DEBUG PRINT STATEMENTS:`.  You can uncomment this and recompile to see the output above for classes with mismatched method parameter arity between the various fields.

Yes, there are problems caused by such files. You can't obtain full type signature information for methods (i.e. everythin

[2018-02-05 16:00] lukehutch commented on #175
@anthonykr3 @Alexander-- I created this bug in the Kotlin bug tracker to track this issue:

https://youtrack.jetbrains.com/issue/KT-22706

[2018-02-05 18:07] Alexander-- commented on #175
@lukehutch

This sounds like a bad idea. If I were you, I'd just repeat the same steps, used by javac to establish it's view of element signatures, log all inconsistencies, and call it a day.

People can do weird things with metadata as long as this does not break *their* workflow — for example, imagine creating jar with API stubs, where classes have minimal/broken type descriptors, and all type i

[2018-02-05 19:16] lukehutch commented on #175
@Alexander-- that's a bit of an oversimplification, since the JRE works totally fine with type erasure. FCS is a lightweight introspection system, so whatever information it returns *should* perfectly match whatever the runtime thinks is the API, but FCS can provide additional information, such as type parameters.

Actually the lack of guarantees of the JRE requiring (or enforcing) that each of th

[2018-02-05 20:06] lukehutch commented on #175
@Alexander-- one other point -- yes, there is a system for logging issues during scanning. But type parsing happens lazily, and as such, happens outside the main try-catch block that exceptions are logged in -- in fact, a type signature may be parsed after the log has been dumped out and finalized. For most users, the chance of something going wrong is in the `MethodTypeSignature#toString()` metho

[2018-02-06 08:34] GedMarc commented on #175
I've spoken to a few guys, unfortunately this is a little bit over my head (for now)... Not really a Kotlin guy (Not an anything runtime class manipulation guy, what I code I want to debug...)

So this is what I got as responses..
1) From what I hear, Kotlin also allows dynamic class manipulation at any point in the application as well - Using RefactoringHelper classes. So at any point in the appl

[2018-02-06 18:48] lukehutch commented on #175
@GedMarc that's all good info, and frankly a little shocking, especially the part about type rewriting for runtime type conformity...

I guess anybody who actually uses FCS will understand that the goal of classpath scanning is to scan classfiles on disk, not whatever the latest dynamically-loaded version is in the classloader. If the type definition is morphing in RAM, the classfile on disk is no

[2018-02-07 11:28] fmarmar opened #183 "IOExceptions thrown by FileMatchProcessors not reported in ScanResult"
ScanResult#.getMatchProcessorExceptions() doesn't capture IOExceptions thrown by a FileMatchProcessor

[2018-02-07 18:30] #183 closed

[2018-02-07 18:33] lukehutch commented on #183
Fixed and released in 2.18.1. @fmarmar Thanks for the report!

[2018-02-08 09:49] fmarmar commented on #183
You're welcome

[2018-02-09 08:00] lukehutch commented on #36
@HoldYourWaffle traditional jars on the classpath will work fine with the current version of FCS. Modules built for JDK9, and loaded as modules from the module path rather than jars from the classpath, will not be scanned until proper Java 9 support is complete.

[2018-02-09 11:52] HoldYourWaffle commented on #36
I'll wait with transitioning to jigsaw then. Thanks!

[2018-02-15 10:31] AlexTrotsenko commented on #24
@drogatkin your solution sounds good for most of the use-cases. Do you have it available anywhere as lib or ?

[2018-02-16 01:46] drogatkin commented on #24
It is a part of TJWS and the code can be borrowed from there.

On Thursday, 15 February 2018, Alex Trotsenko <notifications@github.com>
wrote:

--
Buy *American*, Hire *American*

[2018-02-25 14:34] cvmocanu opened #184 "build-time scanning"
[Reflections](https://github.com/ronmamo/reflections) has a really nice feature that [allows scanning at build time](https://github.com/ronmamo/reflections/blob/gh-pages/UseCases.md#collect-pre-scanned-metadata).
Then, at runtime one can simply load the saved file instead of scanning the classpath.

This is significantly faster than scanning the classpath.

It would be really nice for fast-classpa

[2018-02-25 14:58] lukehutch commented on #184
This is a good suggestion. This would be useful on Android too (#24). It will be quite a lot of work, so it may take a while, but I'll look into it.

[2018-03-04 02:38] chuxingjun opened #185 "Could not find a ClassLoaderHandler that can handle org.eclipse.osgi.internal.framework.ContextFinder@21bf794d"
In  Karaf 4.1.4, I wrapped the neo4j-ogm (a java mapper to neo4j )  which uses fastclasspathscanner to scan some annotated package into a OSGI bundle.
These packages (neo4j-ogm, fastclasspathscaner as well as the package to be scanned) all are packed into one bundle which shares the same classLoader according to
osgi bundle loading.   As in the trace, the Package to be scanned is (com.huawei.ibn.o

[2018-03-04 02:39] chuxingjun commented on #185
This bug is blocking some of my work big time. any prompt fix are greatly appreciated! thanks.

[2018-03-04 07:11] lukehutch commented on #185
Hi @chuxingjun , I'm happy to help, but I'll need either an example project, set up exactly the same way (since your setup sounds quite complex, and it's unlikely I will be able to duplicate it exactly without your help), or if it's sensitive code, I'll need you to look at the structure of that classloader in a debugger to tell me how to get the classpath elements out of the classloader using refl

[2018-03-04 21:57] chuxingjun commented on #185
Ok,  also let me see if I can get your an example project.
BTW,  did you test it as a OSGI bundle and scan some classes exported from another OSGI bundle on  a karaf/felix OSGI container before?

thanks.

[2018-03-04 22:02] lukehutch commented on #185
No, I have never tested that before, or heard of another user using that combination -- and I wouldn't have a clue how to set that up :)

[2018-03-09 20:14] jacospain commented on #115
I would find such a processor convenient to match on the annotations on constructor parameters.

[2018-03-09 20:38] lukehutch commented on #115
@jacospain do you want to return all constructors, then manually filter for parameters with a given parameter value?

I'm working on a new API for FCS that will let you do something like the following (methods like `and()` are static imports for clarity):

[code]

..or something like that. If you can wait 2-3 months, I will be releasing this. If not, maybe I can add a constructor match processor i

[2018-03-09 21:22] jacospain commented on #115
Yes, I'd like to create a binding for a DI framework for every constructor that has a parameter with a given annotation. The match processor API would make this a breeze. I commented because I think this is a prime use case for such a matcher.

The example demonstrating the new planned DSL looks extremely convenient.

I will be able to achieve my desired result with the current API, as well, using

[2018-03-09 23:19] lukehutch commented on #115
@jacospain The current API has become huge and unweildy due to the number of special cases, and cross-products between different things that need matching, so it's long overdue for an overhaul. Given that the current API works well enough, you should probably use that, to avoid the current API getting even more complex. This method will be inefficient though, since you'll have to filter through a

[2018-03-10 02:23] jacospain commented on #115
Performance was actually the reason I was interested in this library.

I swapped your library in for org.reflections:reflections in com.github.racc:typesafeconfig-guice for a huge speed up at application start time! Thanks!

[2018-03-10 20:09] lukehutch commented on #115
Glad you're seeing a big performance boost! There should be even better performance once the API changes are in place, because FCS will be able to do a better job of scanning only the things that could potentially match the scan criteria.

[2018-03-13 21:23] cvmocanu commented on #175
@GedMarc

I am using Kotlin for a while and I find your comments hard to believe.

I doubt this is possible. Do you have some pointers to some kind of documentation or example?

The [official documentation](https://kotlinlang.org/docs/reference/dynamic-type.html) says "The dynamic type is not supported in code targeting the JVM".
I hope it stays that way!

[2018-03-13 21:49] lukehutch commented on #175
It looks like the Kotlin bug tracker bug I filed hasn't been touched yet...

[2018-03-13 22:13] GedMarc commented on #175
@cvmocanu
I did say not very experienced and that I did have to ask, however

https://youtrack.jetbrains.com/issue/KT-10440 shows the efforts required to get the final class actually in operation,
Also, On this stack overflow (https://stackoverflow.com/questions/34340450/how-to-get-a-kotlin-kclass-from-a-package-class-name-string), the efforts to actually get the from a JVM or JVM environment seem

[2018-03-23 21:32] johnfg10 opened #186 "scan result improvments"
Hey,
I have a suggestion for the scan result class, it would be useful if we had an equivalent of `getNamesOfClassesWithAnnotationsAnyOf()` for fields and for methods so something similar to `getNamesOfClassesWithFieldAnnotationAnyOf()` and `getNamesOfClassesWithMethodAnnotationAnyOf()`. i think this would be a good feature for certain use cases.
Thanks,
John

[2018-03-24 04:27] lukehutch commented on #186
@johnfg10 I agree, these would be good additions. But we would also need `getNamesOfClassesWithMethodParameterAnnotationAnyOf()`, and the `...AllOf()` variants for consistency. There are way too many API calls like this already, and the API has become really unweildy, so what I plan to do is actually build a query API where you can express these sorts of concepts flexibly in a compositional way, s

[2018-04-07 07:53] davidmoshal opened #187 "feature question"
not a bug report: just curious if this library can be used to find  x, where:

private List<x> list_of_type_x;

[2018-04-09 20:57] lukehutch commented on #187
Hi @davidmoshal -- I used to have an API call for exactly this usecase, but I removed it recently, since it seemed a bit esoteric, and I wasn't aware of anyone using it. The API had become way too complex, and I was looking for ways to simplify it.

What the API call did though was simply match all classes, then iterate through all fields of all classes looking for fields of the given type. You ca

[2018-04-09 21:19] davidmoshal commented on #187
Thanks @lukehutch , I think you should put it back in!

The solution I came up with (btw this is groovy code):
[code]

[2018-04-09 21:21] davidmoshal opened #188 "Matcher classes"
Not a bug, just a question about how to use matcher classes.
I looked at your three mechanisms, and tried them out,
but I can't see where the 'predicate' for an inclusion or exclusion matcher is set,
the various Single Abstract Method matching classes don't have methods that return boolean.
What am I missing?

[2018-04-09 21:27] lukehutch commented on #187
@davidmoshal The mechanism you chose requires all `Class` references to be instantiated for each class. Not only is this highly inefficient, you run the risk of triggering side effects if your classloader is configured to initialize classes (run initializer blocks) when the classes are loaded. The example I gave uses `ClassInfo` and `FieldInfo` object types (defined in the FCS project) rather than

[2018-04-09 21:27] #187 closed

[2018-04-09 21:31] lukehutch commented on #188
There are some simple predicates included in the API itself, for example you can match just classes that implement a given interface. More complex filters can be added by getting the `ScanResult` returned by the call to `.scan()`, then calling `.getClassNameToClassInfo()` to get a `Map<String, ClassInfo>` for all the classes that matched the top-level filtering, then you can call `.values()` to ge

[2018-04-09 21:31] #188 closed

[2018-04-09 21:33] davidmoshal commented on #187
thanks again @lukehutch , indeed this is exactly an issue I ran into:

I had some initialization in a static initialization block which did indeed execute, good to know to avoid!

thanks again

David

[2018-04-09 21:55] lukehutch commented on #187
@davidmoshal you can avoid initializing classes by passing `false` into `Class.forName()`:

https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#forName-java.lang.String-boolean-java.lang.ClassLoader-

However, it's more complicated than that in general. You shouldn't do your own classloading, probably, you should call `ScanResult#classNameToClassRef(className)` to load a class given the

[2018-04-09 22:51] davidmoshal commented on #188
ok, thanks, I'm calling generate dot file on the scan result, so was hoping to include a matching predicate befare scan() as it's not exactly clear how to generate a dot file from passing the scan result.

[2018-04-10 02:42] lukehutch commented on #188
Ah! That's a really good point, you should be able to generate a dot file based on only filtered criteria.

With the current API, it's not possible to do this, unfortunately, but I'll make this work properly in version 3.0, once the new API is ready.

For now, you can just copy the .dot file generation code in the following class into your own codebase, and adapt it to your needs, so that only the

[2018-04-10 06:48] davidmoshal commented on #188
yep, that's pretty much what I did, I'm using xdot on linux which regenerates the graphviz file automatically when the dot file changes.
- but, back to my earlier point, why not simply allow a matcher with a predicate before scan,
e.g:

[code]

I guess I'm asking how difficult it would be to simple allow a matching predicate in the chain?

Dave

[2018-04-10 21:24] davidmoshal commented on #111
request: add predicate matcher single abstract method class, using class or classinfo as the argument.

[2018-04-11 23:41] lukehutch commented on #111
@davidmoshal Yes, most of the stuff above is really just my own notes to myself, I don't have a spec written out for the future API, but the way it will work is similar to what you request, but instead, it will be a "query builder" API, which will filter out classes while they are being scanned, so the ClassInfo object will never even be created if a class doesn't pass the spec. I could add a filt

[2018-04-12 13:51] NogginBops opened #190 "A way to blacklist folders?"
Is there a way to blacklist all jars in a specific folder?

[2018-04-12 21:28] mgardiner commented on #171
I can provide more details of what is happening with this issue.  FastClasspathScanner is not seeing classes that are located in a Spring Boot self-executable jar within BOOT-INF/classes and is dependent on which Java version is being used.  I have verified this is an issue from 2.9.5 through the master branch.

Specifically, in NestedJarHandler.java line #181, within fastclasspathscanner there's

[2018-04-12 23:48] lukehutch commented on #171
@mgardiner thanks for the info. Based on the info in the Oracle docs, I think the thing to do is:

* If `childPath` ends in `'/'`, run the code as-is.
* Otherwise, try fetching a `ZipEntry` for `childPath + '/'`, and if that returns non-null, use that entry.
* Otherwise, try fetching a `ZipEntry` for `childPath`.

This means that in many cases, `parentZipFile.getEntry(childPath)` will be called tw

[2018-04-13 00:12] mgardiner commented on #171
I think that would work fine.

Thanks.

[2018-04-13 07:12] lukehutch commented on #171
@mgardiner and @ncoe, Can you please test the change I just pushed to try to fix #171? Thank you.

[2018-04-13 07:32] lukehutch commented on #111
@davidmoshal I added `isEnum()` in acc0f837a27b7800e223cf8d5f6320c766dbbac4.

[2018-04-13 14:42] mgardiner commented on #171
I've verified that the change works.

[2018-04-13 14:48] ncoe commented on #171
Likewise, thanks.

[2018-04-13 15:33] lukehutch commented on #171
@ncoe @mgardiner thanks for testing. @mgardiner, thanks for finding the root of the problem -- I never would have found the root cause without your help!

[2018-04-13 16:02] mgardiner commented on #171
You're welcome Luke and thanks for applying the fix so quick.  What's your time-frame for releasing 2.18.2?

[2018-04-13 18:02] lukehutch commented on #171
I've got a bit of a buildup of bug reports right now, will try to get fixes for one or two more into the next release. Probably today or tomorrow.

[2018-04-13 22:00] mgardiner commented on #171
Sounds great, thanks Luke.

[2018-04-14 01:49] lukehutch commented on #190
Not by way of the scan spec passed to the constructor. I could add something like that, but the scan spec syntax is already too complicated. The best thing to do is to get the current classpath, then remove the classpath entry that contains the offending jars, then scan with a custom classpath. Something like:

[code]

Does this work for you?

[2018-04-14 01:51] lukehutch commented on #190
PS note that anytime you override the classpath, you run the risk of loading a different class than the one matched by FastClasspathScanner, since a class of the same name can be defined differently in two different locations on the classpath.

[2018-04-14 02:04] lukehutch commented on #111
Other API suggestion improvements are in #186.

[2018-04-14 02:04] lukehutch commented on #186
I'll close this, as it is really subsumed within #111 (API Cleanup). Thanks @johnfg10 for the request!

[2018-04-14 02:05] lukehutch commented on #185
@chuxingjun Did you manage to put together a small test case, and/or trace the ClassLoader in a debugger to find which fields FCS needs to read or which methods FCS needs to call to determine the classpath?

[2018-04-14 02:15] lukehutch commented on #184
I started looking at this, but one issue that jumped out pretty quickly is that when serializing a set of `ClassInfo` objects, the information about which `ClassLoader` was supposed to load each class would be lost (there is no point serializing the reference to the appropriate `ClassLoader` into the output stream, since in general the scanning/serializing and reloading will happen in different ru

[2018-04-14 02:34] lukehutch commented on #115
I'll merge this into #111, API Cleanup. Sorry for the delay in getting the new API out, it will still be a couple of months, probably.

@jacospain Note that you can do what you need right now already, using something like the following. Sorry, I should have given this example before.

[code]

[2018-04-14 02:34] #115 closed

[2018-04-14 02:35] lukehutch commented on #111
More API suggestions in #115.

[2018-04-14 02:37] lukehutch commented on #107
Closing this, as it is a bit esoteric (you'd have to scan the whole classpath to find all `@ScanRoot` annotations in the first place).

[2018-04-14 02:37] #107 closed

[2018-04-14 02:38] #186 closed

[2018-04-14 02:39] lukehutch commented on #111
Suggestion to add classpath folder blacklisting by name, in #190.

[2018-04-14 02:39] lukehutch commented on #190
The above code snippet should hopefully work for you for now, but I'll merge this into the API improvements suggestion bug, #111.

[2018-04-14 02:39] #190 closed

[2018-04-14 12:11] lukehutch commented on #171
@ncoe @mgardiner released in 2.18.2. Thanks again!

[2018-04-15 08:35] lukehutch commented on #185
@chuxingjun I took a look at the source code for `ContextFinder`, and made my best guess as to what the right `ClassLoaderHandler` should do. I just checked in some changes to handle this. Can you please try the latest code, and let me know if it solves your issue? Xiexie.

[2018-04-20 03:35] andrebrait commented on #184
Maybe something like what https://github.com/atteo/classindex did would work? It seems he uses annotation processing for that.

It seems to be insanely fast too. But writing an annotation processor can be a bit too much and may not work sometimes.

[2018-04-20 14:41] lukehutch commented on #184
@andrebrait thanks, that's a useful link. I'll have to look at how their mechanism works.

There are some more links on JSR-269 processing here: https://ilikeorangutans.github.io/2013/08/13/jsr-269-annotation-processing/

But actually the simplest thing to do is something like the following, once FCS supports serializing a ScanResult out to disk -- just add a small Groovy script to perform the sca

[2018-04-20 14:58] lukehutch commented on #143
`javax.lang.model` is used by the annotation processing API -- see:

https://youtu.be/2Dlo8OSwzaI?t=15m

Therefore, this issue is related to #184.

[2018-04-22 11:53] andrebrait commented on #184
@lukehutch I believe it would, yes.

Making it compatible with Gradle should be easy, right? Adding a task in Gradle or even making a small gradle plugin, maybe?

[2018-04-22 15:13] andrebrait opened #191 "Enhancing the javadocs"
As of this moment, some things are a bit unexplained in the documentation like, say, the way ClassInfo stores class names. Is it the whole name? Is it the simple name? What's the equivalent in the usual Java Class API?

Also making it clearer in the docs whether some method call results in using Reflection or not.

It's a very minor thing, of course, but it's an important one when developing witho

[2018-04-22 15:18] andrebrait opened #192 "Making ClassInfo a first-class citizen"
While right now it's possible to do so, most methods seem geared towards dealing with class names. While that's fine ( I haven't had much difficulty with it yet), ClassInfo is a very cool class for several usages (I'm using it for a plugin-based architecture of sorts). So having an equivalent to the methods which return lists of class names but returning lists of ClassInfo would be kinda cool, I t

[2018-04-22 20:17] #192 closed, assigned to nobody

[2018-04-23 08:15] lukehutch commented on #192
@andrebrait actually this is a really good suggestion. In the early days, FCS only dealt in strings, such as class names, but it became clear eventually that there needed to be a way to keep info about a class together in one place, and ClassInfo was born. Then eventually I had to add FieldInfo and MethodInfo. I'm now having to create a MethodParameterInfo class too to keep all the info about meth

[2018-04-23 08:27] lukehutch commented on #184
@andrebrait Probably, if there's a simple Gradle plugin example that could be extended. (Feel free to take a shot at this yourself, if you want -- I have never used Gradle!)  But see the comment at the page linked below about why the Reflections Maven plugin was discontinued -- it was just much easier to write a one-line Groovy script, using the gmavenplus-plugin Maven plugin:

https://github.com/

[2018-04-23 08:32] lukehutch commented on #191
@andrebrait You're totally right, the Javadocs need major polishing work. The library was not well documented in the beginning, and I went back a couple of times and added tons of Javadoc, but it really needs an end-to-end coverage, detail, and consistency check.

I'm going to be revamping the API in a major way soon, so I will hold off on redoing the Javadoc until then, because a large number of

[2018-04-23 08:32] #191 closed

[2018-04-23 08:34] lukehutch commented on #111
Issue #191 is a request for better Javadoc. The new API should have top-quality Javadoc, checked for completeness and consistency, and with proper Javadoc-format crosslinking between classnames etc.

[2018-04-23 11:40] andrebrait commented on #192
@lukehutch Cool. I was thinking the same way, but then I realized I could just use the map and so I settled for that. It's not that big of a problem but I think using ClassInfo would be the way to go.

I have another suggestion that'll post to the API Cleanup (it's about the way AnnotationInfo stores things). Or should I create another report so you can link them and close? Which do you prefer?

[2018-04-23 11:44] andrebrait commented on #184
@lukehutch Yeah, Gradle probably has a way for that (Gradle is basically Groovy in a build system, so I would ve surprised if it doesn't).

And you should use Gradle sometime. I've used Maven for years, and while I like it, Gradle is so much easier and flexible. I can see why people have been switching to it thenlast few years.

Anyway, I'll see if that's doable and, if so, I'll contribute with in

[2018-04-23 11:48] andrebrait commented on #192
Do you think having ```ClassInfo#getSubclasses()``` is feasible? Since you mentioned having the equivalent for getting the ClassInfo of a super class.

[2018-04-23 13:38] lukehutch commented on #192
Please create a separate bug for each request, and I'll link them, to try to keep that other bug from getting even more complicated...

Yes, I'll add methods for getting any related class (subclasses, annotations, etc.)

[2018-04-23 13:40] lukehutch commented on #184
I don't doubt it's better -- Maven is completely awful! :) I'd be happy to switch to Gradle at some point.

[2018-04-26 02:28] ryan-gustafson opened #193 "Scan with Scala library in classpath gives error about different superclasses"
See the attached [fast-classpath-scanner-scala.tar.gz](https://github.com/lukehutch/fast-classpath-scanner/files/1949484/fast-classpath-scanner-scala.tar.gz) file containing a Gradle project which runs a test attempting to scan with the Scala library version 2.12.4 in the classpath.

The archive includes a `verbose.log` file from my local run (on a Mac).  The exception message is:
[code]

You shou

[2018-04-26 05:51] lukehutch commented on #193
Thanks @ryan-gustafson for reporting this, and especially for attaching a testcase! I'll try to incorporate this case into an FCS testcase soon, unless you have a chance to do that yourself.

This exception was thrown precisely to get this sort of bug report filed if anyone ever came across the Scala compiler doing something as egregious as this! (At least, egregious from the point of view of Java

[2018-04-26 14:28] ryan-gustafson commented on #193
Sorry I didn't look close enough to understand how to setup an FCS testcase for this, so I figured I'd at least give you something to reproduce the problem.

Unfortunately, I know nothing about scala that would help here, I merely encountered this when trying to scan an existing extensive classpath.  You might need to reach out to the scala devs, it seems like a pretty central library.

For my usa

[2018-04-27 20:47] lukehutch commented on #193
For reference, from the Scala source: https://github.com/scala/scala/blob/2.12.x/src/library/scala/collection/immutable/Stack.scala

[code]

So the `object` and `class` definitions extend different classes. I wonder how common this is?

[2018-04-27 20:53] lukehutch commented on #193
From https://stackoverflow.com/a/1755521/3950982 :

Given that, maybe the right thing to do is not try to merge Scala companion classes (ending with `$` or `$class`) into the base class.

[2018-04-28 23:26] V-ed opened #194 "Not working for packages in a jar file?"
Running this library directly in let's say IntelliJ IDEA works as expected, but when running the same code from a jar file, the Exception below is thrown.

[code]

Here is the code that runs this issue in a jar file :
[code]

The `.verbose()` does output alot of data in "local mode" (not in a jar file) but no information is thrown (except this error stack) when running from the jar file.

P.S. : _

[2018-04-28 23:38] lukehutch commented on #194
Hi @V-ed, thanks for the report. This is weird -- where is the exception being thrown? The stacktrace doesn't seem to show the exception being triggered either from the FCS library or from your own code. Can you please do a bit more sleuthing to figure out where this is being triggered in FCS or your code?

This might be due to a packaging error. Are you building the jarfile in IDEA, or Maven, or

[2018-04-28 23:49] V-ed commented on #194
The Exception is thrown when scanning for classfiles (the first line of my sample code, I should've mentionned it earlier!).

The `src` folder contains the "commands" package which is what I'm trying to find here, and the jar does not have this src folder as it's considered as a source folder (default java project directory).

I'll try to tweak stuff here and there and let you know if something wo

[2018-04-28 23:50] lukehutch commented on #194
Please do attach the complete verbose logs, maybe there's something else there that will be helpful...

[2018-04-29 01:54] V-ed commented on #194
Well, I feel kinda dumb now.

I rechecked the artifact created by IntelliJ IDEA and the build process wasn't including your FastClasspathScanner library into the jar file.

As you thought, it was indeed a packaging error!

Thanks alot for the quick answer and sorry for making an issue which wasn't cause by your library but rather my lack of knowledge on IntelliJ's artifact building process! Your l

[2018-04-29 01:54] #194 closed

[2018-04-29 04:03] lukehutch commented on #194
@V-ed no problem at all! I'd rather know about every little thing like this in case it's a bug in FCS. Glad you found the cause!

[2018-05-01 15:17] pshirshov commented on #193
I second this. Very annoying thing.
Though thanks for the library.

[2018-05-03 09:10] lukehutch commented on #175
@anthonykeenan @Alexander-- @cvmocanu @GedMarc:
I decided to fix this by right-aligning (front-padding) any of the metadata lists for method parameters that were missing values (out of the param types in the type signature, param names, param modifiers, and param annotations. (Param types in the type descriptor should have the correct arity.) This was motivated by the observation that synthetic an

[2018-05-03 09:10] #175 closed

[2018-05-03 09:34] #193 closed

[2018-05-03 09:36] lukehutch commented on #193
@ryan-gustafson @pshirshov this is fixed in 2.19.0.

You will now get `pkg.Class` for a base class in Scala, `pkg.Class$` for a companion object, and `pkg.Class$class` for a trait methods class (i.e. these are no longer merged into `pkg.Class`).

[2018-05-03 09:38] lukehutch commented on #174
@natros sorry for the delay on this. I think I may have found what was causing the slowdown. Can you please test 2.19.0? I will be pushing it out shortly. Thank you!

[2018-05-04 06:30] lukehutch commented on #174
@natros I have gone in to profile this performance regression several times, with two different profiler tools, and couldn't figure out the problem until now. I looked at detailed profiling information and code diffs, couldn't find the source of the problem until now, since the profiling information wasn't telling me the right place to look (the timing values for the offending operation were being

[2018-05-04 06:30] #174 closed

[2018-05-04 09:01] natros commented on #174
Just tested and I can see considerable improvements.
Thank you for your work on this one.

[2018-05-04 14:48] lukehutch commented on #174
@natros great, thank you. Is it faster than even 2.11.1 was for you now?

[2018-05-04 23:53] ncoe commented on #171
I can poke at it on monday

[2018-05-07 19:18] mgardiner commented on #171
Just a note on my testing. While 2.22.0 does work it seems considerably slower than 2.18.2.

[2018-05-07 19:32] lukehutch commented on #171
@mgardiner that's very surprising, all the changes with one exception should only improve speed. That one exception is when dealing with method parameters. Are you reading info on method parameters for a lot of methods? If so, can you please try the new `ClassInfo#getMethodInfo()#getParameterInfo()` API call, rather than the older `ClassInfo#getMethodInfo()#getParameter*()` calls? This was a neces

[2018-05-07 21:43] mgardiner commented on #171
Not using any method params.

Concerning the pom.xml we are several proprietary dependencies that are not publicly available.

Sorry this isn't much help.

[2018-05-07 22:14] lukehutch commented on #171
@mgardiner Can you please take verbose logs then, for both 2.18.2 and 2.19.0 and/or 2.20.0 (whichever was the first version that was slow), and either attach them here, or email them to me if they are sensitive? luke.hutch@gmail.com

As far as eliminating classpath elements, you could try something like:

[code]

[2018-05-07 22:49] mgardiner commented on #171
I've attached the two runs (2.18.2 and 2.20.0).

[fast-2.18.2.txt](https://github.com/lukehutch/fast-classpath-scanner/files/1981720/fast-2.18.2.txt)
[fast-2.20.0.txt](https://github.com/lukehutch/fast-classpath-scanner/files/1981721/fast-2.20.0.txt)

[2018-05-07 23:02] lukehutch commented on #190
@NogginBops I just pushed out version 2.20.1, with support for explicitly blacklisting classpath elements based on a string match criterion:

https://github.com/lukehutch/fast-classpath-scanner/releases/tag/fast-classpath-scanner-2.20.1

This will work better than the code snippet I gave above, since it applies the filtering before extracting jars-within-jars (in the case that you have classpath e

[2018-05-07 23:03] lukehutch commented on #193
@ryan-gustafson I just pushed out version 2.20.1, with support for explicitly blacklisting classpath elements based on a string match criterion:

https://github.com/lukehutch/fast-classpath-scanner/releases/tag/fast-classpath-scanner-2.20.1

This will work better than the code snippet I gave in #190, since it applies the filtering before extracting jars-within-jars (in the case that you have class

[2018-05-07 23:04] lukehutch commented on #171
@mgardiner thanks for the logs, I'll take a look.

I just pushed out version 2.20.1, with support for explicitly blacklisting classpath elements based on a string match criterion:

https://github.com/lukehutch/fast-classpath-scanner/releases/tag/fast-classpath-scanner-2.20.1

This will work better than the code snippet I gave above, since it applies the filtering before extracting jars-within-jars

[2018-05-08 00:30] lukehutch commented on #171
@mgardiner Thanks for the logs, they were helpful in finding the problem. This performance regression should be fixed in version 2.20.2. Can you please test again and let me know? Also please let me know if you need `FastClasspathScanner#stripZipSFXHeaders()` -- it is probable this is no longer needed in your environment (Oracle JVM on Linux, by the looks of the logs).

I still will need someone t

[2018-05-08 13:17] mgardiner commented on #171
You're welcome @lukehutch, I tested both 2.20.2 and 2.21 on Linux (no Windows) and both are working great.  Thanks for the fix and new feature.

[2018-05-09 15:18] ncoe commented on #171
It looks like 2.21 is still working.

[2018-05-09 17:09] lukehutch commented on #171
Thanks for testing, and for suggestions, everyone. I'll close this again.

[2018-05-09 17:09] #171 closed

[2018-05-17 04:53] bennylut commented on #36
Hi, Thank you for the great work - is there progress in this issue?

[2018-05-17 05:04] lukehutch commented on #36
@bennylut not yet, I haven't found a way to get the Java 9 module API to enumerate the modules in the runtime, and the jars backing each module (or alternatively the files in each module jar). I would appreciate some help, if you have good knowledge of Java 9. See this response I got on jigsaw-dev:

http://mail.openjdk.java.net/pipermail/jigsaw-dev/2017-December/013449.html

[2018-05-17 05:33] GedMarc commented on #36
https://docs.oracle.com/javase/9/docs/api/index.html?java/lang/module/package-summary.html
ModuleFinder / ModuleDescripter?

As Java 8 (DDD JVM) / 9 (DDD JDK) is now a Domain Driven Language, Strict encapsulation and Strict Classpath Specifications are priority one. This means that nothing can ever be reflected that isn't exposed (as here https://zeroturnaround.com/wp-content/uploads/2017/11/java-

[2018-05-17 05:44] lukehutch commented on #36
@GedMarc have you tried what you suggest? I couldn't get it to work. For all the obstacles I ran into, see my original message to jigsaw-dev, linked above.

[2018-05-25 12:11] alexec opened #195 "scan spec help"
Hi,

I have an application with a very large number of jars and classes. A large amount of start-up time is due to classpath scanning, so I'd like to get exactly the best scan specs possible.

Originally it was a single entry:

* `com.intuit.v4`

I updated it to:

* "`com.intuit.v4`"
* "`jar:com.v4-sdk-*.jar`"
* "`-dir`

But I'm not sure it is any faster. Any thoughts?

[2018-05-25 19:02] lukehutch commented on #195
Hi @alexec,

Please let me know if something like the following speeds up the scanning process:

[code]

[2018-05-31 18:16] lukehutch commented on #195
@alexec I'll close this issue, but please comment to let me know if the suggested code reduced the scan time, and by how much.

[2018-05-31 18:16] #195 closed

[2018-05-31 18:17] lukehutch commented on #185
@chuxingjun ping :-)

[2018-06-04 19:22] hepin1989 opened #199 "add gitter channel"
It would be nice to have one:)

[2018-06-05 01:14] lukehutch commented on #199
@hepin1989 Here you go: https://gitter.im/fast-classpath-scanner/Lobby

[2018-06-05 01:14] #199 closed

[2018-06-05 01:47] lukehutch commented on #36
TODO: Test 80 fails when running on JDK9+, because there is no rt.jar, which FCS uses to scan for system classes.

[2018-06-05 21:15] GedMarc commented on #36
OK, So I may have actually found some time to be able to do something here...

A few things - Dunno if you want to start a new thread JDK9 is End of Life, so this thread is invalid now. JDK 10.0.1 seems to be it. and JDK 8. I think a new issue? Whatever it is, it needs to support dual compilation xD

Can I switch to JUnit 5? I think this will help a bit with the test cases thing, also please can y

[2018-06-05 21:44] lukehutch commented on #36
@GedMarc thanks for the offer to help!

I am currently compiling for JDK 7, and there were already several users that complained that JDK 6 wasn't supported. JDK 8 is way too progressive for some people, so I think it will be a few years before everybody gets on the JDK 10+ six-month release cycle bandwagon.

I have been planning to support Java modules via reflection until the vast majority of us

[2018-06-05 21:47] lukehutch commented on #36
@GedMarc I made a new branch, https://github.com/lukehutch/fast-classpath-scanner/tree/module-path-scanning , as you requested.

[2018-06-09 08:38] CodingOX commented on #46
thanks..  use fast-classpath-scanner in springboot jar,   my problem got solved!!

[2018-06-13 10:17] lukehutch commented on #36
Good news! I finally figured out the API. I was wrong, there is in fact a way to list non-system modules. The problem was that I didn't realize that the API call `classRef.getModule().getLayer().getConfiguration().modules()` returned a `List<ResolvedModule>`, rather than just a `List<Module>`. It turns out that `ResolvedModule` does in fact have a `.reference()` method to get the elusive `ModuleRe

[2018-06-14 02:16] GedMarc commented on #36
You are the man!!!!

[2018-06-14 02:19] GedMarc commented on #36
Can you add an entry into MANIFEST for Automatic-Module-Name :)

Automatic-Module-Name: xxxx.xxxx ?

[2018-06-14 07:56] lukehutch commented on #36
Fixed, implementing full JDK9+ module scanning support, and released in version 3.0.0.

[2018-06-14 07:56] #36 closed

[2018-06-14 08:00] lukehutch commented on #36
@GedMarc I went one better than adding an Automatic-Module-Name, I discovered this super-cool project that creates a proper module:

https://github.com/moditect/moditect

So FCS can be used by modular projects now too -- it is fully modularized.

What's more, FCS still works on JDK7 and JDK8 projects too, since Moditect uses Objweb-ASM to compile the `module-info.class` (so I was still able to set

[2018-06-14 13:02] seanf commented on #184
https://ilikeorangutans.github.io/2013/08/13/jsr-269-annotation-processing/
https://www.youtube.com/watch?v=2Dlo8OSwzaI

That wouldn't work in IDEs (or not easily), but as long as it can fall back on a runtime scan, I think it would be fine.

[2018-06-15 12:21] kaqqao commented on #36
Just curious, have you looked into how Spring handles modulepath scanning?

[2018-06-15 13:56] seanf commented on #36
@lukehutch Thanks for your work on this! Note that the [wiki](https://github.com/lukehutch/fast-classpath-scanner/wiki) still says "Eventually, the Java 9 module system will be supported (work has not started on this yet -- patches are welcome)."

[2018-06-15 19:05] lukehutch commented on #36
@kaqqao I have not seen their code, but I'd like to look at it -- do you know where exactly their module path scanning code is located?

@seanf Thanks, I thought I had caught all of those :-)

[2018-06-16 08:12] lukehutch commented on #184
The first half of this is done -- you can now serialize a class graph by calling `ScanResult#toJSON()`, which is a fast and lightweight custom JSON serializer. I still need to write a deserializer.

[2018-06-16 08:16] lukehutch commented on #24
I'm going to close this in favor of build-time scanning (#184), which I'm working on right now. Build-time scanning should work great on Android.

[2018-06-16 08:16] #24 closed

[2018-06-16 08:17] lukehutch commented on #185
Closing due to lack of response. @chuxingjun, if you see this, please test the latest version of FCS and let me know if it works for you (I put a possible fix in place, but I don't have a way to test it).

[2018-06-16 08:17] #185 closed

[2018-06-16 12:42] andrebrait commented on #184
@lukehutch you probably looked into it, but using a JSON library would probably result in unnecessary dependencies, right? Like GSON, Jackson, etc.

And for the second part, I'll see what I can do to produce a Gradle plugin. If I can also make one for Maven, I think 99% of everyone who uses this library would be covered.

[2018-06-16 12:57] lukehutch commented on #184
@andrebrait yes, of course -- but FCS doesn't require any dependencies right now, and I'm resisting adding the first one :-)  Plus I have found libraries like GSON and Jackson to be heavyweight and hard to configure and use in the past. I have a very specific usecase here (serializing the ClassInfo object graph) that is unlikely to change much in the future, and so I figured I'd design a custom se

[2018-06-16 14:37] lukehutch commented on #184
@andrebrait yes, an early working version of the serializer is in master, and it handles cycles (by adding "_ID" fields to objects, then detecting cycles, and inserting object references where necessary). I have a more advanced version in the works that allows you to tag up a field to use as a unique object id, rather than the automatically-generated id (specifically so references to ClassInfo obj

[2018-06-16 16:42] lukehutch commented on #184
The new serializer (just committed) is much better than the old one, and hopefully is complete.

[2018-06-16 20:36] andrebrait commented on #184
Ok, cool. I'll grab your code as soon as I have something thsti works with GSON for testing purposes.

Basically, including FSC in Gradles's buildscript dependencies and using it will dp the trick.

No clue about Maven though.

[2018-06-19 15:03] zhgzhg opened #201 "ReflectionUtils to support Java "ea" versioning scheme maybe?"
Greetings,

On FCP 3.0.3 I've seen that the ReflectionUtils logic for "JAVA_VERSION_IS_9_PLUS" is not handling early access versioning like for e.g. "11-ea" - more info here [http://openjdk.java.net/jeps/223)](http://openjdk.java.net/jeps/223) .
In result for such version I get java.lang.NumberFormatException: For input string: "11-ea"

Since Java is expected to evolve much faster do you think it

[2018-06-19 21:34] lukehutch commented on #201
@zhgzhg Thank you, I wasn't checking for the '-' character. I made this more generic so any non-numeric character can be used to break version numbers. The fix will be in the next release, and it is checked into master now, so you can build your own jar if you need this fixed ASAP.

[2018-06-19 22:53] GedMarc opened #202 "JDK9 Documentation"
Hey Luke :)

Please can you add the info required to import the module jdk9 into the documentation :)
uses io.xxxx?
Thanks bud

[2018-06-19 23:09] lukehutch commented on #202
Great point, thanks, I'll do that now. It should be `requires io.github.lukehutch.fastclasspathscanner;` .

[2018-06-19 23:09] #202 closed

[2018-06-20 00:13] andrebrait commented on #184
So, I got something working with Gradle. But I'm having some trouble with the classpath. As I understand  I need to have the classes to be scanned in the classpath at the moment of the scan, is that right?

[2018-06-20 01:04] lukehutch commented on #184
@andrebrait You will want to set up a Gradle rule that determines the _runtime classpath_, and then scans that. This may be different than the build-time classpath, because, for example, build tools will no longer be on the classpath. Also, it will be different in general than the testing classpath (or other non-deployment action classpaths), because testcases might run with additional libraries.

[2018-06-20 23:34] #201 closed

[2018-06-24 03:14] seanf opened #203 "Configure Travis to test with Java 11 and/or EA"
Travis now supports testing with newer versions of the JDK (Oracle or OpenJDK)

You can see most of the new jdk names in the matrix here: https://github.com/BrynCooke/cdi-unit/blob/master/.travis.yml

There are some test failures on 11/EA here, but I haven't worked out if they're a problem with FCS or CDI-Unit: https://travis-ci.org/BrynCooke/cdi-unit/builds/395975288 Might just be https://github.

[2018-06-24 03:21] seanf commented on #203
Created #204

[2018-06-24 05:43] seanf opened #205 "'Master' build broken by "Add JSON deserializer""
Looks like compilation was broken by commit https://github.com/lukehutch/fast-classpath-scanner/commit/e1abae353a9671f9910136e07a69391fe982b62b

See https://travis-ci.org/lukehutch/fast-classpath-scanner/builds/395423627#L1557

[2018-06-24 10:39] lukehutch commented on #205
Yes, sorry, it's fixed now. Thanks for reporting.

[2018-06-24 10:39] #205 closed

[2018-06-24 10:42] lukehutch commented on #203
Hi, thanks, please test with the master version. I have been working pretty intensively on FastClasspathScanner over the last couple of weeks, but I just finished the work tonight, and everything should be stable again.

[2018-06-24 10:42] #203 closed

[2018-06-24 10:43] lukehutch commented on #203
PS let me know if you get any failures. Thanks for the pull request!

[2018-06-24 10:56] lukehutch commented on #184
OK, I just committed the JSON serialization and deserialization work. If you ever want to lose a lot of hair, then write a POJO serializer and deserializer from scratch! I thought I knew most of the warts of the Java type system, but this (self-inflicted) task gave me a whole new level of appreciation for it...

Please test with the following, with the version in master, and let me know how you ge

[2018-06-24 12:34] lukehutch commented on #184
I ran all unit tests through a serialize -> deserialize step, forcing them through the serializer and deserializer, and they all pass, so I pushed this out as version 3.1.0. However, I'm not closing this yet, because I want to put some solid instructions on the Wiki about how to do build-time scanning using Maven and Gradle.

[2018-06-24 12:46] andrebrait commented on #184
Nice way to make sure the serializer/deserializer works hahaha

Ok, I'll grab it and see what I can do.

Oh, btw, isn't that 2 there a magic number?

Is there a constant for it? Or an an enum?

[2018-06-24 12:46] andrebrait commented on #184
I assume that's what is usually called a pretty print, right?

[2018-06-24 14:03] lukehutch commented on #184
@andrebrait The 2 is the indent width (0 for no indent, 1+ for prettyprinting, with that number of spaces per JSON indent depth). It's in the Javadoc, but I should make that clear in the docs too.

I got the Maven integration working, and documented it here:

https://github.com/lukehutch/fast-classpath-scanner/wiki/1.-Usage#build-time-scanning-serializing-scanresult-to-json

Feel free to send me a

[2018-06-24 14:03] #184 closed

[2018-06-25 07:58] lukehutch commented on #184
@cvmocanu Actually I just found a bug in the constructor lookup caching code in the deserializer, which is why it was going so slow. It's now faster to deserialize the JSON object graph that to perform the original classpath scan, so using a binary serializer probably wouldn't provide much additional benefit. The times I have for a large-ish classpath are:

[code]

I'll push this out as version 3.

[2018-06-25 08:37] gcristescu opened #206 "Include only tools.jar as "system jar", not the entire jre/../lib folder"
Hello,

I have a folder structure as below:
- root
    - jre
         - JRE files ("java.home" points to this)
    - lib
        - my jars

The current logic within JREUtils is seeing all my jars within this "lib" folder as "system jars":

[code]
Would it be possible - and sensible - to only regard "tools.jar" as a system jar, instead of the entire "lib" folder?

This was tested with version 3.1.0

[2018-06-25 08:46] lukehutch commented on #206
Hi @gcristescu -- thanks for pointing this out, and thanks for tracking down the issue. I'm not very familiar with the use of `lib/` for installing user jars (I know `ext/` is a common place for putting them), but this request to exclude only specific jars in `lib/` sounds reasonable. Along with `tools.jar` and `rt.jar`, are there any others that might need excluding? I don't have Windows or Mac O

[2018-06-25 08:54] lukehutch commented on #206
In the Fedora JDK 1.8 installation (java-1.8.0-openjdk-1.8.0.171-4.b10.fc28.x86_64), I see `dt.jar`, `jconsole.jar`, `sa-jdi.jar` and `tools.jar`. I don't even know what most of these are :-) In the latest Oracle JDK 1.8 installation all of those are present, as well as `ant-javafx.jar`, `javafx-mx.jar`, and `packager.jar`.

It might be possible to build a database of what jars are installed in th

[2018-06-25 09:08] gcristescu commented on #206
Thank you for the lightning-fast response.

As we discuss about it, I am also starting to hesitate, and to share your opinion that fully whitelisting `lib/` might have too wide unknown implications.

So, as you say, perhaps a configuration option that would whitelist a package or a jar, but also override any blacklist, even the one regarding "system jars". Something like:

`"!my.jar"` - whitelist

[2018-06-25 10:22] gcristescu commented on #206
Another (perhaps less exotic) possibility: offer support for wildcards for jars. The following would include system jar folders, but exclude` jre/lib`, `jre/ext`, and `tools.jar`.

`new FastClasspathScanner("!!", "-jar:jre/lib/*.jar", "-jar:jre/lib/ext/*.jar", "-jar:lib/tools.jar")`

[2018-06-25 10:36] cvmocanu commented on #184
Great news!

If you want to speed-up things even further, a (probably long term) idea is to minimize reflection.

That is: deserialize into an object tree that doesn't do any reflection, e.g. only keep the class / method / annotation names as String, without loading the classes or looking up the names.

Then provide an API that can be used to query this model.
Use reflection (and reflection cachin

[2018-06-25 22:14] lukehutch commented on #206
Something like that should work. I need to make the whole whitelisting thing more flexible and simpler, which I will try to do in the next API redesign (the API is way too complex already, and it will get more complex once I start adding options for whitelisting and blacklisting Java modules). However, for now, maybe I can add scan spec prefixes `lib:` and `ext:`, e.g. `new FastClasspathScanner("l

[2018-06-26 01:59] lukehutch commented on #206
@gcristescu Please try the master version. You should be able to whitelist your jar name in the scan spec using `"lib:yourjarname.jar"`. You can also whitelist jars in `ext/` in a similar way, using `"ext:yourjarname.jar"`.

[2018-06-26 05:47] lukehutch commented on #206
@gcristescu I made a few more changes. The latest master version is released as 3.1.3 -- please test with that version, and let me know if it works for you. Thanks!

[2018-06-26 06:59] gcristescu commented on #206
@lukehutch `"lib:yourjarname.jar"` does not seem to have any effect; now, please bear with me (apologies if I have overlooked anything): in JarUtils, you added JRE_LIB_JARS and JRE_EXT_JARS, but you do not seem to actually make use of them...?

Truth be told, what I would need is wildcard support, to whitelist everything inside `lib/`. But please do not derail your logic only for my very particula

[2018-06-26 07:05] lukehutch commented on #184
@cvmocanu something like that could work. As it is, I only ever look up a constructor or field once per class now, and that is cached using a HashTable, so the number of reflective calls is already minimal.

There are some other overheads of reflection though, such as getting the generic type information for a field or superclass, setting an array element, etc. -- and these cannot be eliminated wi

[2018-06-26 07:11] lukehutch commented on #206
@gcristescu oops, correct, I forgot to remove those two fields. They were left over from a previous version where I separately checked those collections for whitelisted lib and ext jars. Now the checking is done in `JarUtils.isJREJar()`. Can you please set a breakpoint there and see if that method is not working correctly, and/or please attach your verbose logs? (Call `.verbose()` before `.scan()`

[2018-06-26 07:13] lukehutch commented on #206
@gcristescu Oh, I see the problem with the `JarUtils.isJREJar()` method -- I should have tested this. I'm comparing a complete path to a jar name. I'll fix that, my apologies.

[2018-06-26 07:21] gcristescu commented on #206
@lukehutch No worries.
Regarding wildcards: I am packaging the JRE within my application, so that is why I end up having a `jre/` folder (which is also `java.home`, for all intents and purposes) and a `lib/` folder beside it. However, this `lib/` folder only contains my jars, nothing from JRE - so I would want to include everything in it - and of course a wildcard would be preferable, because it w

[2018-06-26 07:53] lukehutch commented on #206
I see. Can you please verify that the logic in the static block in `JarUtils` will even find your `lib/` directory? If it is one level above `java.home`, it will not, currently. Should I also search for `lib/` in the parent directory of `java.home`? This seems a bit sketchy to do in the general case, in case the parent directory of `java.home` has nothing to do with Java. Or did you mean to say th

[2018-06-26 09:04] lukehutch commented on #206
@gcristescu Please test version 3.1.5, hopefully it will work for you.

[2018-06-26 12:02] gcristescu commented on #206
@lukehutch looks good. I tested `"lib:"`, `"lib:my.jar"`, `"lib:prefix*"`; it took me longer, because I had a problem with the log (with .verbose()) not being generated at all. Turned to be an out-of-memory issue on my part; obviously all this lib scanning needs to be done carefully.

Thank you for your support, and I'll just take advantage of the opportunity to tell you that this is an awesome li

[2018-06-26 18:05] lukehutch commented on #206
@gcristeau thanks for testing, and you're welcome! I try to stay really on top of updates and bug reports / feature requests, as a way of giving back, but also partly out of frustration over the years at most bugs in most OSS bug trackers languishing and never even being touched by the developers.

I'm curious for future reference, what happens with an OOM error? Is there a silent failure? That's

[2018-06-26 18:05] #206 closed

[2018-06-27 11:19] GedMarc opened #207 "Go TypeSafe :)"
Hey Luke,

Any chance of adding a type safe class fetcher?

public Class<?> classNameToClassRef(String className) throws IllegalArgumentException {
        return this.classNameToClassRef(className, false);
    }

public <T> Class<T> classNameToClassRef(String className,T type) throws IllegalArgumentException {
        return (Class<T>) this.classNameToClassRef(className, false);
    }

[2018-06-27 11:29] ahamana opened #208 ""java.lang.IllegalArgumentException: Unsupported enum value type: java.lang.Byte" occurs when scanning"
Many thanks for your great library.

I have a question.

I encountered the following exception when the fastclasspathscanner scanned OSS libraries of my web application.
[code]

For instance, what kind of causes are there?

If you don't know, please ignore this question and close this issue.

[2018-06-27 11:53] GedMarc commented on #207
of course it removed all my `<T>`

[2018-06-27 11:53] GedMarc commented on #207
[code]

[2018-06-27 12:47] andrebrait commented on #207
@GedMarc

I don't think it's possible.

Your last version requires the user to pass an object of the type as the last argument. Which is not viable.

```Class<Foo> fooClass = classNameToClassRef("Foo", new Foo());```

In any case, the class would have to be known and loaded already. Which defeats the whole point of scanning the classpath. If you already know the class and it's already loaded, you'

[2018-06-27 13:20] GedMarc commented on #207
Lol no, I think the purpose has been missed.

In the instance of using a Single Service the type is known, the implementation is not.
Using the ServiceLoader mechanism, the base implementation is for multiple implementations and not just one, so when mapping this produces the incorrect mechanism.
[code]
The only advantage this has over Class.forName() is that you don't have to catch ClassCastExcep

[2018-06-27 13:28] andrebrait commented on #207
Oh, I see now.

Well, let's have Luke evaluate it :)

[2018-06-27 18:55] johnou commented on #208
@ahamana please provide the jar or class it blew up with.

[2018-06-27 20:39] #208 closed

[2018-06-27 20:42] lukehutch commented on #208
@ahamana Thanks for this report. There was a copy/paste error in a recent code change. Fixed in 3.1.6.

[2018-06-27 21:17] lukehutch commented on #207
It makes sense to have this API, I think, for the case of implemented interfaces or superclasses, as @GedMarc pointed out, and it's pretty standard to do this -- although it's about the same amount of code to cast it yourself, as it is to pass the type in. I know casts are ugly, but they need to happen either inside or outside `classNameToClassRef()`. The only advantage here is that I could check

[2018-06-27 22:29] #207 closed

[2018-06-27 22:29] lukehutch commented on #206
Oops, ignore the last commit message, I referenced the wrong bug.

[2018-06-28 07:57] GedMarc commented on #207
This is great thanks Luke! Definitely a convenience implementation without a doubt, but reduces a good amount of boiler plate for me :)

I was having to iterate through returned service loaders, check if they were located in the scan result and implemented the service, then produce the class with type-casting from the scan result, and cast it back to the service type :)

It's like 40 lines down to

[2018-06-28 08:09] lukehutch commented on #207
@GedMarc sounds worthwhile then! Thanks for the request.

[2018-06-28 11:58] ahamana commented on #208
@lukehutch Many thanks for fixing the issue quickly.

[2018-07-06 23:19] lukehutch opened #209 "Need to handle Spring-Boot jars when not already running within the Spring-Boot classloader for that jar"
Current Spring-Boot support only works if the scanning code resides within the Spring-Boot jar that needs to be scanned. This was reported by Yunior Betancourt on the FCS mailing list.

For Spring-Boot jars, the manifest file has these two entries, which need to be added to the classpath:

[code]

The second issue that needs to be solved is that FCS cannot load classes within Spring-Boot jars (nei

[2018-07-07 07:41] lukehutch commented on #209
Also `BOOT-INF/lib/` contains jarfiles, which need to be added to the classpath for scanning too.

[2018-07-16 19:02] HybridHB opened #210 "FCS causing app to fail startup?"
Hello, I have a gradle java project and I recently added the latest FCS pacakage via gradle. Simply adding the package and attempting to start my app results in the following.

14:55:06 WARN  Failed startup of context o.a.g.JettyWebAppContext@77d67cf3{/myServer,file:/C:/myServer/build/inplaceWebapp/,STARTING}
java.lang.RuntimeException: Error scanning entry module-info.class from jar file:/C:/User

[2018-07-16 19:44] lukehutch commented on #210
@HybridHB That's actually a pretty weird bug. It doesn't appear that any actual code in FastClasspathScanner is involved in this exception, but I'd still like to get this fixed.

It looks like ObjectWeb ASM doesn't like the `module-info.class` file inside FastClasspathScanner. This file is generated by Moditect, which actually uses ObjectWeb ASM to generate the file, so it's strange that ObjectWeb

[2018-07-18 03:42] lukehutch commented on #210
@HybridHB I can take a look, if you can set up a minimal testcase that reproduces the problem.

[2018-07-18 20:51] GedMarc opened #212 "Match Processor Exception"
Hey Luke!

Sooo, i'm guessing I need to expose something for a process exception?

JDK 10.0.1

Exception creating Injector : Multiple exceptions thrown of type: java.lang.NullPointerException. To see individual exceptions, call MatchProcessorException#getExceptions(), or call FastClasspathScanner#verbose() before FastClasspathScanner#scan().io.github.lukehutch.fastclasspathscanner.MatchProcessorEx

[2018-07-18 20:59] lukehutch commented on #212
Hi @GedMarc -- did you try calling the method this exception suggests? That will let you get all the individual exceptions, then you can call their printStackTrace() method to see what happened and where.

[2018-07-18 21:12] GedMarc commented on #212
mmm

Caused by: java.lang.NullPointerException
	at io.github.lukehutch.fastclasspathscanner@3.1.10/io.github.lukehutch.fastclasspathscanner.scanner.Scanner.call(Scanner.java:359)
	at io.github.lukehutch.fastclasspathscanner@3.1.10/io.github.lukehutch.fastclasspathscanner.scanner.Scanner.call(Scanner.java:58)
	at java.base/java.util.concurrent.FutureTask.run$$$capture(FutureTask.java:264)
	at java.

[2018-07-18 21:13] GedMarc commented on #212
scanner.verbose(true);
		scanner.createClassLoaderForMatchingClasses();

		registerScanQuickFiles(scanner);
		scanner.suppressMatchProcessorExceptions(false);
		try
		{
			scanResult = scanner.scan(getThreadCount());
		}
		catch (MatchProcessorException mpe)
		{
			System.out.println(mpe.getExceptions());
		}